.pageContentBlock{
    max-width: 1200px;
    margin: 20px auto;
}
.pageTitle{
    width: 100%;
    font-size: 20px;
    margin: auto;
    margin-bottom: 5px;
    font-weight: bolder;
    border-bottom: 4px solid black;
    margin-bottom: 40px;
}
.pageBanner{
    width: 100%;
    padding: 20px 0;
    max-height: (100vh * 0.625 / 1200 *460);
}
.pageBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.allProductBlock{
    display: flex;
    justify-content: space-between;
}
.sortBlock{
    width: 28%;
}
.sortTitle{
    font-size: 18px;
    margin-bottom: 30px;
}

.sortList{
    width: 100%;
    background-color: #D2CECE;
    color: white;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.hrStyle{
    color: black;
    background-color: black;
    height: 1px;
    border: none;
}
.sortList span{
    position: absolute;
    right: 0px;
    font-weight: bolder;
}
.sortItemGroup{
    display: flex;
    flex-direction: column;
    
}
.sortItem{
    margin-bottom: 10px;
}

.productList{
    width: 70%;
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productItem{
    width: 24%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.productItemImg{
    width: 100%;
    /* height: calc(100vw * 0.12 / 185 * 210); */
    margin-bottom: 10px;
    position: relative;
}
.productItemImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.productItemImgMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.514);
    opacity: 0;
    transition: 1s;
}
.joinShoppingCart{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: black;
    color: white;
    opacity: 0;
    transition: 1s;
}
.productItem:hover .productItemImgMask{
    opacity: 1;
}
.productItem:hover .joinShoppingCart{
    opacity: 1;
    padding: 10px;

}
.joinShoppingCart:hover{
    background-color: #D3A841;
}
.productContent{
    width: 100%;
}
.productText{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.productSubText{
    padding: 10px 0;
    font-size: 12px;
}
.productPrice{
    font-weight: bolder;
    font-size: 20px;
}

@media(max-width:1200px){
    .allProductBlock{
        padding: 0 10px;
    }
    .pageTitle{
        padding: 0 5px;
    }
}
@media(max-width:997px){
    .productItem{
        width: 33%;
    }
    .productSubText{
        font-size: 14px;
    }
    .productPrice{
        font-size: 14px;
    }
}
@media(max-width:768px){
    .allProductBlock{
        flex-direction: column;
    }
    .sortBlock{
        width: 100%;
    }
    .productList{
        width: 100%;
    }
}
@media(max-width:576px){
    .productItem{
        width: 48%;
    }
    .pageBanner{
        padding: 0;
        padding-bottom: 20px;
    }
    
}