
.footer{
    display: flex;
    margin: auto;
    padding: 40px;
    background-image: url(../img/footer.png);
    background-position:0 25%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;
}
.footerTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footerTitle img{
    width: 100px;
}
.footerContent{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: bolder;
    color: #61615D;
    margin-bottom: 10px;
}
.webDesignCompany{
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: #61615D;
}


@media (max-width:997px){

}
@media (max-width:768px){
    .footer{
        display: flex;
        margin: auto;
        padding: 40px;
        background-image: url(../img/footerSm.png);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        flex-direction: column;
    }
}
@media (max-width:576px){

}
@media (max-width:376px){
    
}