
.headerBlock{
    padding: 10px 0px;
    background-color: #E7E6E3;
}
.header{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}
.companyLogo{
    margin: 0 20px;
}
.companyLogo img{
    width: 100px;
}
.navbarBlock{
    display: flex;
    width: 80%;
    margin-left: auto;
}
.mainNavbar{
    margin-left: auto;
}
.navbarItem{
    margin: 0 20px;
    font-weight: bold;
    transition: 0.5s;
}
.navbarItem:hover{
    color: #D04000;
}

.otherBar{
    margin-left: auto;
}
.signIn{
    margin: 0 20px;
    font-weight: bold;
    transition: 1s;
}
.shoppingCarIcon{
    margin: 0 20px;
    transition: 1s;
    font-weight: bold;
}

.signIn:hover{
    color: #D04000;
}
.shoppingCarIcon:hover{
    color: #D04000;
}
.navbarList{
    margin-left: auto;
    margin-right: 20px;
    display: none;
}
.humburger{
    cursor: pointer;
}
.navbarListItemGroup{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:1s ;
    z-index: 2001;
}
.show{
    opacity: 1;
    background-color: rgb(0, 0, 0);
}
.navbarListItem{
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: right;
    font-weight: bolder;
    transition: 1s;

}
.navbarListItem i{
    font-size: 14px;
}
.navbarListItem:hover{
    color: #ffffff;
    text-shadow:  0px 0px 30px #D04000,0px 0px 30px #D04000,0px 0px 30px #fcf372;
}
.companyLogoRWd{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-right: 10px;
}
.companyLogoRWd img{
    width: 160px;
}
.closeButton{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 24px;
    color: #D04000;
    cursor: pointer;
}
@media(max-width:1500px){
}

@media (max-width:1200px){
}

@media (max-width:997px){
    .navbarBlock{
        display: none;
    }
    .navbarList{
        display: block;
    }
}
@media (max-width:768px){

}
@media (max-width:576px){
}
@media (max-width:376px){
    
}

/* 側邊購物車 */
.SideShoppingCarBlock{
    width: 400px;
    height: 100%;
    padding: 0 20px;
    padding-top: 80px;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 25;
    background-color: #FFFFFF;
    transition: 0.5s ease;
    overflow: scroll;
    
}
@media(max-width:768px){
    .SideShoppingCarBlock{
        width: 100%;
    }
}
.SideShoppingCarTitle{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.199);
}
.SideShoppingName{
    font-size: 20px;
}
.SideShoppingBlockClose{
    font-size: 20px;
    cursor: pointer;
}
.SideShoppingCarItemGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.SideShoppingCarItem{
    width: 100%;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}
.SideShoppingCarItemDelete{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: rgba(0, 0, 0, 0.418);
    padding-left: 5px;
    cursor: pointer;

}
.SideShoppingCarItemImg{
    width: 25%;
    /* height: calc( 100vw * 0.2 / 120 * 150); */
    height: 120px;
    margin: 0 10px;
}
.SideShoppingCarItemImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:768px){
    .SideShoppingCarItemImg img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.SideShoppingCarItemContent{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SideShoppingCarItemTitle{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.418);
    font-weight: bolder;
}
.SideShoppingCarItemPrice{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.418);
}
.SideShoppingCarItemQuantity{
    display: flex;
    width: 50%;
    padding: 0 10px;
    justify-content: space-between;
    border: 1px solid black;
}
.headerAdd,.headerLess{
    cursor: pointer;
}
.SideShoppingCarItemTotalBlock{
    text-align: right;

}
.SideShoppingCarItemTotal{
    color: rgba(0, 0, 0, 0.548);

}

.SideShoppingCarItemDiscount{
    color: #FA8282;
}

.SideShoppingCarDiscountBlock,.SideShoppingCarPriceTotal{
    display: flex;
    justify-content: space-between;
}
.SideShoppingCarDiscountBlock{
    color: #FA8282;
    font-size: 14px;
}
.SideShoppingCarPriceTotal{
    margin-bottom: 20px;
}
.SideShoppingCarSeeShoppingCar{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: #E79E4A;
    border: 1px solid #E79E4A;
    margin-bottom: 50px;
}
.SideShoppingCarSeeShoppingCar:hover{
    color: #E79E4A;
}