
.headerBlock{
    padding: 10px 0px;
    background-color: #E7E6E3;
}
.header{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}
.companyLogo{
    margin: 0 20px;
}
.companyLogo img{
    width: 100px;
}
.navbarBlock{
    display: flex;
    width: 80%;
    margin-left: auto;
}
.mainNavbar{
    margin-left: auto;
}
.navbarItem{
    margin: 0 20px;
    font-weight: bold;
}

.otherBar{
    margin-left: auto;
    font-weight: bold;

}
.otherBarItem{
    margin: 0 20px;
}
.navbarList{
    margin-left: auto;
    margin-right: 20px;
}
.navbarListItemGroup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E7E6E3;
}
@media(max-width:1500px){
}

@media (max-width:1200px){


@media (max-width:997px){
    .navbarBlock{
        display: none;
    }
}
@media (max-width:768px){

}
@media (max-width:576px){

}
@media (max-width:376px){
    
}