.pageContentBlock{
    max-width: 1200px;
    /* padding: 50px 0; */
    margin: 100px auto;
}
.pageTitle{
    width: 100%;
    font-size: 36px;
    font-weight: bolder;
    position: relative;
    border-bottom: 2px solid black;
}
.pageContentBLock{
    width: 100%;
}
.productListButton{
    font-size: 12px;
    position: absolute;
    bottom: 3px;
    right: 0;
    padding: 0 20px;
    font-weight: bolder;
    transition: 0.5s;
}
.productListButton:hover{
    color: #D04000;
}

.newListBlock{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.newsItem{
    width: 32%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: violet;
}
.newsItem:hover{
    color: #D04000;
}


.ItemImg{
    width: 100%;
    max-height:calc(100vw * 0.32 / 300*380);
    position: relative;
}
.ItemImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itemMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 253, 253, 0.836);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.itemMask img{
    padding: 15px;
}
.newsItem:hover .itemMask{
    opacity: 1;
    
}
.newsContent{
    padding: 10px 20px;
}
.newsDate{
    margin-bottom: 10px;
}
.newsTitle{
    margin-bottom: 20px;
}
.paginationButtonBar{
    display: flex;
    justify-content: center;
    
}
.paginationButton{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #D3A841;
    background-color: white;
}
.paginationButton:hover{
    background-color: #D3A841;
    color: white;
}

@media( max-width:1200px){
    .newListBlock{
        padding: 20px 10px;
    }
    .pageTitle{
        padding: 0 10px;
    }
}
@media( max-width:997px){
    .pageContentBlock{
        margin: 50px 0;
    }
    .itemMask img{
        padding: 10px;
    }
}

@media( max-width:576px){
    .pageContentBlock{
        margin: 20px 0;
    }
    .pageTitle{
        font-size: 24px;
        padding: 0 10px;
    }
    .productListButton{
        bottom: 1px;
    }
    .newsItem{
        width: 48%;
    }
    .ItemImg{
        width: 100%;
        /* height:calc(100vw * 0.28 / 300*380); */
    }
    .itemMask img{
        padding: 5px;
    }
    .newsContent{
        padding: 10px 10px;
    }
    .newsTitle,.newsDate{
        font-size: 14px;
    }

}