.pageContentBlock{
    max-width: 1200px;
    /* padding: 50px 0; */
    margin: 100px auto;
}

.pageTitle{
    width: 100%;
    font-size: 36px;
    margin: auto;
    margin-bottom: 5px;
    font-weight: bolder;
    padding: 0 10px;
}
.pageBanner{
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid black;
    height: 23.541vw;
}
.pageBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pageContentBLock{
    width: 100%;
}
.newsContentBLock{
    width: 100%;
    display: flex;
    border-top: 2px solid black;
    padding: 20px 10px;
}
.newsContentBLock:last-child{
    border: unset;
}
.newsContentImg{
    width: 45%;
    height: calc(100vw * 0.45 / 585 * 515);
}
.newsContentImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    object-position: right;
}
.newsContent{
    width: 55%;
    padding: 0 20px;
    position: relative;
}
.contentTitle{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}
.mainTitle{
    margin-right: 65px;
}
.newsDate{
    font-size:12px;
    padding-bottom: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(14, 0, 0, 0.719);

}
.contentText{
    width: 100%;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgba(14, 0, 0, 0.719);
}
.productListButton{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px;
    font-weight: bolder;
    transition: 0.5s;
}
.productListButton:hover{
    color: #D04000;
}
.posictionLeft{
    left:0
}

@media (max-width:997px){
    .pageContentBlock{
        margin: 50px auto;
    }
    .newsContentBLock{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pageBanner{
        padding: 10px 0;
    }
    
    .newsContentImg{
        width: 45%;
        height: calc(100vw * 0.45 / 585 * 515);
        margin-bottom: 20px;
    }
    .newsContent{
        width: 100%;
        padding: 0 20px;
        position: relative;
    }
    .BlockReverse{
        flex-direction: column-reverse;
    }
    .posictionLeft{
        left:unset;
    }
    
}
@media (max-width:576px){
    .pageContentBlock{
        margin: 20px auto;
    }
    .pageBanner{
        padding: 5px 0;
    }
    .pageTitle{
        font-size: 24px;
    }
    .contentTitle{
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .contentText{
        width: 100%;
        font-weight: bold;
        margin-bottom: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
}