.pageContentBlock{
    max-width: 1200px;
    margin: 20px auto;
}
.pageBanner{
    width: 100%;
    margin: 20px 0;
}
.pageBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}
.pageTitle{
    width: 100%;
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}
@media(max-width:576px){

}
.registerForm{
    width: 100%;
}
.formItem{
    width: 100%;
    margin-bottom: 25px;
    padding: 0 10px;
}

.formItem label{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    position: relative;
}
.remind{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
}
.inputTextBox{
    width: 100%;
    padding: 10px;
}
.inputDateBoxBlock{
    display: flex;
    justify-content: space-between;
}
.inputDateBox{
    width: 33%;
    padding: 10px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url(../img/arrowDown-01.png);
    background-repeat: no-repeat;
    background-position:center;
    background-position: 98%;
    background-size: 25px;
}
.remarks{
    font-size: 12px;
    margin-left: 10px;
}
.formOtherItemBlock{
    margin-bottom: 40px;
    padding: 0 10px;
}
.submitButton{
    display: block;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: #BCBABA;
    color: white;
    margin: auto;
}


/* input radio CSS */
