
.pageContentBlock{
    max-width: 1200px;
    margin: 20px auto;
    min-height: 65vh;
}
.signInBlock{
    width: 100%;
}
.SignInTitle{
    background-color: #E9E7E7;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.signInContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.signInMethod1{
    width: 50%;
    display: flex;
    justify-content: center;
}
.signForm{
    width: 70%;
    padding:0 20px;
}
.signInItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.signInItem label{
    margin: 5px 0;
}
.signInItem input{
    padding: 10px;
}
.signInRememberMe{
    margin: 20px 0;
    font-size: 12px;
}
/* .signInRememberMe input{
    margin: 0;
    margin-right: 10px;
}
.signInRememberMe input[type='radio'] { 
    box-sizing: border-box; 
    appearance: none; 
    background: white; 
    outline: 1px solid #333; 
    border: 1px solid white; 
    width: 8px; 
    height: 8px; 
}  */

.signInRememberMe input[type='radio']:checked { 
    background: #333; 
} 
.signInButton{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
.signInButton:hover{
    color: white;
}
.signInOtherBar{
    display: flex;
    justify-content: space-between;
}
.signInOtherItem{
    text-decoration: underline;
    font-size: 12px;
}
.signInMethod2{
    width: 50%;
    border-left: 1px solid #8f8f8f;
}
.signInMethodTitle{
    text-align: center;
}
.signInMethodImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin: auto;
}
.signInMethodImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:576px){
    .signForm{
        width: 100%;
    }
    .signInMethod2{
    }
    .signInMethodImg{
        width: 80%;
    }
}