@charset "utf-8";
/* CSS Document */

/* 共通 css開始  */
*{
	box-sizing: border-box;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
	background-image: url(../img/bodybackground.png);
	background-repeat: no-repeat;	  
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a img{
	border:none;
}

a:hover,a:focus{
	text-decoration: none;
}

:focus,button:focus{
    outline: none;
}
/* head */
.head{
    position: relative;
    height: 400px;
    width: 100%;
    top: 0;
    z-index: 20;
}
@media (max-width:376px){
    .head{
        height: 330px;
    }
}
.menu_bar{
    width: 1400px;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width:1400px){
	.menu_bar{
		width: 1200px;
	}
}
@media (max-width:1200px){
	.menu_bar{
		width: 992px;
	}
}
@media (max-width:992px){
	.menu_bar{
		width: 768px;
	}
}
@media (max-width:768px){
	.menu_bar{
		width: 576px;
	}
}
@media (max-width:576px){
	.menu_bar{
		width: 100%;
        padding: 10px;
	}
}
.head_search{
    display: flex;
    align-items: center;
    border: 1px solid #00000033;
    border-radius: 5px;
    background-color: white;
    margin-right: 25px;

}
.head_search_icon_block{
    padding: 5px 10px;
}
.head_search input{
    border: 0;
    border-left: 1px solid #00000033;
}
.menu_item{
    margin: 0 25px;
}
@media (max-width:992px){
	.menu_item,.menu_line{
        display: none;
    }
}
.menu_group_RWD{
    display: none;
}
@media (max-width:992px){
	.menu_group_RWD{
        display: block;
    }
}

.desk_head_block{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.desk_head_block img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

}
@media (max-width:1200px){
	.desk_head_block{
        height: 200px;
    }
    .desk_head_block img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
}

.desk_head_logo{
    position: absolute;
    bottom:-10%;
    left: 3%;
}
.desk_head_logo img{
    width: 100%;
    height: 100%;
}
@media (max-width:1200px){
	.desk_head_logo{
        position: absolute;
        bottom:0%;
        left: 3%;
    }
    .desk_head_logo img{
        width: 70%;
        height: 100%;
    }
}
@media (max-width:992px){
	.desk_head_logo{
        position: absolute;
        bottom:35%;
        left: 3%;
    }
    .desk_head_logo img{
        width: 45%;
        height: 100%;
    }
}

.desk_page_block{
    position: absolute;
    height: 450px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    /* background-color: wheat; */
    overflow: hidden;
}
@media (max-width:1200px){
	.desk_page_block{
        height: 320px;
    }
}
.desk_page_background{
    position: absolute;
    /* width: 100%; */
    height: 450px;
    top: -10%;
    right: -5%;
}
@media (max-width:1200px){
	.desk_page_background{
        height: 350px;
        top: -20%;
        right: 0%;
    }
}
@media (max-width:768px){
	.desk_page_background{
        display: none;
    }
}

.desk_page_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.des_page_item{
    position: absolute;
    bottom: -10%;
    right: 20%;
}
.des_page_item img{
    width: 100%;
    height: 100%;
}
@media (max-width:1400px){
	.des_page_item{
        bottom: -10%;
        right: 15%;
    }
}
@media (max-width:1200px){
	.des_page_item{
        bottom: -10%;
        right: 0%;
    }
    .des_page_item img{
        width: 60%;
    }
}
@media (max-width:992px){
	.des_page_item{
        bottom: -10%;
        right: -5%;
    }
    .des_page_item img{
        width: 60%;
    }
}


.des_page_item_RWD{
    position: absolute;
    right: -7%;
    bottom: 0;
    display: none;
}
.des_page_item_RWD img{
    width: 70%;
    height: 100%;
}
@media (max-width:768px){
	.des_page_item_RWD{
        display: block;
        right: 0;
    }
    .des_page_item_RWD img{
        width: 150px;
    }
}

/* foot */
.foot{
    position: relative;
    overflow: hidden;
}
.foot_block{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
@media (max-width:768px){
	.foot_block{
        display: none;
    }
}
.foot_top{
    width: 80%;
    height: 60px;
    margin: 0 auto;
}
.foot_item_group{
    display: flex;
    justify-content: flex-end;
}
.foot_top_item{
    margin: 0 10px;
}
.foot_bottom{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.719);
    color: white;
}
@media (max-width:992px){
	.foot_bottom{
        height: 80px;
    }
}
/* foot_RWD */
.foot_RWD{
	width: 100%;
    display: none;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
@media (max-width:768px){
	.foot_RWD{
        display: flex;
    }
}

.foot_top_RWD{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
}
.foot_bottom_RWD{
	background-image: url("../img/contact_background.png");
	display: flex;
    justify-content: center;
}
.foot_bottom_item_RWD{
	margin: 0 10px;
	padding: 10px 0;
}
/* foot_RWD */
/* foot背景 */
.desk_foot{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
}
.desk_foot_bottom{
    /* width: 100%; */
    position: absolute;
    top:0%;
    right: -10%;
}
.desk_foot_bottom img{
    width: 100%;
    height: 100%;
}
@media (max-width:1400px){
	.desk_foot_bottom{
        top:0%;
        right: -10%;
    }
}
@media (max-width:1200px){
	.desk_foot_bottom{
        top:10%;
        right: -20%;
    }
    .desk_foot_bottom img{
        width: 100%;
        height: 100%;
    }
    
}
@media (max-width:992px){
	.desk_foot_bottom{
        top:20%;
        right: -110%;
    }
    .desk_foot_bottom img{
        width: 50%;
        height: 100%;
    }
    
}
@media (max-width:768px){
	.desk_foot_bottom{
        display: none;
    }
    
}

.desk_foot_after{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: chartreuse; */
}
.foot_flower{
    position: absolute;
    bottom: 0;
    left: -10%;
    bottom: -25%;
}
.foot_flower img{
    width: 170%;
    height: 100%;
}
@media (max-width:1400px){
	.foot_flower{
        left: -15%;
    }
}
@media (max-width:1200px){
	.foot_flower{
        left: -17%;
    }
    .foot_flower img{
        width: 170%;
        height: 100%;
    }
}
@media (max-width:992px){
	.foot_flower{
        bottom: -18%;
        left: -17%;
    }
    .foot_flower img{
        width: 130%;
        height: 100%;
    }
}
@media (max-width:768px){
	.foot_flower{
        bottom: -15%;
        left: -19%;
    }
    .foot_flower img{
        width: 250px;
        height: 100%;
    }
}
@media (max-width:576px){
	.foot_flower{
        display: none;
    }
}