.footerBlock{
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.footerMain{
    max-width: 1200px;
    padding: 20px 20px;
    display: flex;
    margin: auto;
    
}
.footerSub{
    max-width: 100%;
    padding: 10px 20px;
    color: white;
    border-top: 1px solid orange;
    text-align: center;
}
.logoImgBloclk{
    width: 20%;
}
.logoImgBloclk img{
    width: 100%;
}
.footerContent{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.contactInformationBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.contactInformation{
    color: white;
}
.communityLinkBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.communityLinkBlock img{
    width: 50px;
    margin: 0 10px;
}

@media (max-width:997px){
    .logoImgBloclk{
        width: 50%;
        margin: auto;
    }
    .footerMain{
        flex-direction: column;
    }
    .footerContent{
        flex-direction: column;
        margin: auto;
        text-align: center;

    }
    .contactInformation{
        margin-bottom: 20px;
        text-align: center;

    }
    .communityLinkBlock{
        width: 250px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: thistle; */
    }
    .communityLinkBlock img{
        width: 50px;
        margin: 0 10px;
    }
}