*{
    box-sizing: border-box;
}
a{
    text-decoration: unset;
    color: unset;
}
body{
    margin: 0;
}
.naverbar{
    width: 100%;
    height: 80px;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: turquoise; */
    border-bottom: 1px solid #E5E5E5;

}
.naverbarItem{
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #646464;
}
.scenes1{
    width: 100%;
    height: 325.5px;
    padding: 0 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sloganBlock .main{
    color: #1E1E1E;
    font-size: 48px;
}
.sloganBlock .sub{
    margin-top: 10px;
    color: #646464;
    font-size: 20px;
    letter-spacing: 0.03em;
}
.sloganBlock .sub span{
    font-size: 18px;
    color: #646464;
    letter-spacing: 0.03em;
}
.selectPlace{
    width: 350px;
    height: 50px;
    color: #6E7D60;
    padding: 0 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.inputKey{
    width: 350px;
    height: 50px;
    padding: 0 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 7px;
    background-color: #F9F9F9;
    color: #9E9E9E;
    font-size: 16px;
}
.searchButton{
    width: 350px;
    height: 50px;
    padding: 0 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    background-color: #7F977B;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    letter-spacing: 20px;
    cursor: pointer;
}
.searchButton img{
    margin-right: 20px;
}
.slider{
    width: 92.5%;
    height: 36vw;
    /* background-color: wheat; */
    margin:20px auto;
    border-radius: 24px;
    overflow: hidden;
}

.sliderItem{
    width: 100%;
    height: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sliderItem img{
    width: 100%;
    /* height: 36vw; */
    position: absolute;
    /* opacity: 0.3; */
    z-index: -1;
}
.placeText{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: white;
}
.scenes3,.scenes4,.scenes5{
    width: 92.5%;
    margin: auto;
    margin-top: 20px;
}
.scenesTitleBlock{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
    padding: 0 15px;
    

}

.scenesTitleBlock a{
    color: #FF725E;
    font-weight: bolder;
}
.scenesTitleBlock h1{
    margin: 0;
}
.scenes3Content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activityItem{
    display: flex;
    width: 48%;
    height: 160px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;

}
.activityPhoto{
    width: 160px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.activityPhoto img{
    height: 100%;
}
.activityPhoto img:hover {
    height: 120%;
    transition: 1s;
}
.activityContent{
    width: calc(100% - 160px);
    padding: 17px 30px;
    background-color: #E5E5E5;
}
.activityData{
    font-size: 16px;
}
.activityName{
    font-size: 22px;
    height: 60px;
    
}
.activityDown{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 17px;
}
.activityMore{
    color: #7F977B;
    font-weight: bolder;
}
.attractionsContent,.foodContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.attractionsItem,.foodItem{
    width: 23%;
}
.attractionsPhoto,.foodPhoto{
    width: 100%;
    height: 18vw;
    background-color: green;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.attractionsPhoto,.foodPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.attractionsPhoto img{
    height: 100%;
}
.attractionsPhoto img:hover {
    height: 120%;
    transition: 1s;
}
.foodPhoto img{
    height: 100%;
}
.foodPhoto img:hover {
    height: 120%;
    transition: 1s;
}
.attractionsName,.foodName{
    font-size: 22px;
}
.attractionsPlace,.foodPlace{
    font-size: 16px;
}
.footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #65895F;
    color: #F9F9F9;
    margin-top: 120px;
}



/* 景點內頁 */
.attractionsPageTagBlock{
    display: flex;
    flex-wrap: wrap;
}
.tageItem{
    color: #BEA363;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #BEA363;
    padding: 3px 18px;
    margin-right: 5px;
}
.attractionsIntrduce{
    margin-bottom: 60px;
}
.intruduceContent{
    font-size: 18px;
}
.attractionsData{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.attractionsDataBox{
    padding: 30px 30px 60px;
    width: 48%;
}
.attractionsDataBoxColor{
    background: #F9F9F9;
    border-radius: 12px;
}
.attractionsDataItem{
    display: flex;
}
.attractionsDataItem span{
    font-weight: bolder;
    line-height: 24px;
    width: 90px;
    
}
.RemarksBox{
    width: calc((100%-120px));
}
.mapBlock{
    width: 100%;
    height: 250px;
    background-color: #FF725E;
    border-radius: 12px;
}
.aroundData{
    display: flex;
    justify-content: space-between;
}
.aroundItem{
    width: 30%;
    height: 110px;
    border: 1px solid #7F977B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}
.aroundItem span{
    margin-top: 5px;
    font-weight: bolder;
    color:#7F977B;
}

/* 搜尋頁 */
.searchPage{
    width: 92.5%;
    margin: auto;
    margin-top: 20px;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 10px;
}
.citySelet{
    width: 22%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #7F977B;
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0 20px;
}
.citySelet img{
    margin-left: auto;
}
.keyInput{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.search{
    width: 20%;
    height: 50px;
    padding: 0 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7F977B;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    letter-spacing: 20px;
    cursor: pointer;
}
.searchButton img{
    margin-right: 20px;
}
.themesBlock{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.themeItem{
    position: relative;
    width: 22%;
    height: 124px;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 12px;
    margin: 0 20px;
    margin-bottom: 20px;

}
.themeItem img{
    width: 100%;
    
}
.themeItem span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bolder;
}
/* 搜尋結果頁 */
.searchResultTitle{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.searchResultTitle h1{
    margin: 0;
    margin-right: 10px;
}
.searchResultTitle span{
    color: #BEA363;
    margin: 0 5px;
}
.searchResultBlock{
    display: flex;
    flex-wrap: wrap;
}
.searchResultItem{
    width: 25%;
    padding: 15px;
}
.searchResultItem img{
    width: 100%;
    border-radius: 15px;
}
.searchResultItem h3{
    margin: 5px 0;
    font-size: 22px;
}
.searchResultItem span{
    font-size: 16px;
    color: #646464;
}

/* 輪播slick */

.slick-prev{
    left: 2%;
    z-index: 99;
}
.slick-next{
    right: 4%;
}
.slick-next:before{
    content: url(../photo/icon/Arrow-Right.png);
}
.slick-prev:before{
    content: url(../photo/icon/Arrow-Left_disable.png);
}
.slick-dots{
    bottom: 15px;
}
.slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 15px;
}
.slick-dots li button:before{
    content: "";
    background-color: white;
    border-radius: 50%;
}