*{
    margin: 0;
    box-sizing: border-box  ;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://hexschool.github.io/js-filter/assets/bg.jpg");
    background-size: cover;
    padding-bottom: 2%;
}
@media (max-width:768px){
    body{
        background-image: url("https://hexschool.github.io/js-filter/assets/bg-sm.jpg");
    }
}
.webTitleBlock{
    width: 450px;
    height: 105px;
    margin-top: 20px;
    margin-left: 17.2%;
    /* background-color: burlywood; */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hexschool-courses.appspot.com/o/course%2FJS%20%E5%89%8D%E7%AB%AF%E4%BF%AE%E7%B7%B4%E5%85%A8%E6%94%BB%E7%95%A5%2F1628942714013-logo%20%E6%94%B9.png?alt=media&token=583e78ed-6a6c-4660-9f0e-2f59f8eb78e2");
    background-repeat: no-repeat;
}
@media (max-width:768px){
    .webTitleBlock{
        width: 178px;
        height: 40px;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/hexschool-courses.appspot.com/o/course%2FJS%20%E5%89%8D%E7%AB%AF%E4%BF%AE%E7%B7%B4%E5%85%A8%E6%94%BB%E7%95%A5%2F1629001163643-logo-sm.png?alt=media&token=914f40fc-c143-4aaa-a1c3-fb0bdd17fa9c");
        background-repeat: no-repeat;
        margin: auto;
    }
}
.mainContent{
    width:  65.6%;
    height: 550px;
    margin: auto;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 0 3px #F8D45A, 0 0 0 8px #FFFCEF, 0 2px 20px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    border-radius: 4px;
    padding: 4.9% 2.8%;
    overflow-y: scroll;
}
@media (max-width:768px){
    .mainContent{
        width: 90%;
        height: 512px;

    }
}
.sortBar{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
@media (max-width:768px){
    .sortBar{
       margin-bottom: 10px;
    }
}
.sortItem{
    width: 114px;
    height: 40px;
    margin: 0 8px;
    background: #FFFFFF;
    border: 2px solid #2A2A2A;
    box-shadow: 0 1px 0 0 #2A2A2A;
    border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;

}
.sortActive{
    background: #F8D45A;
}
.searchBar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
@media (max-width:768px){
    .searchBar{
        flex-direction: column;
        margin-bottom: 0px;
    }
}
.searchTxt{
    width: 351px;
    height: 40px;
    background: #899E39;
    border: 2px solid #899E39;
    border-radius: 4px;
    color: white;
    line-height: 32px;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
}
@media (max-width:768px){
    .searchTxt{
       width: 100%;
       margin: auto;
       margin-bottom: 10px;
    }
}
.searchTxt span{
    width: 28%;
    margin: 0 10px;
    letter-spacing: 2px;
}
.searchInput{
    height: 35px;
    border: 0;
    font-size: 16px;
    width: 72%;
    padding: 0 10px;
    border-radius: 4px;
}
.searchButton{
    width: 142px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 40px;
    background: #899E39;
    color: white;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;

}
@media (max-width:768px){
    .searchButton{
       width: 100%;
       margin: auto;
    }
}
.sequenceBar{
    display: flex;
    margin: 20px 0;
}
@media (max-width:768px){
    .sequenceBar{
        margin: 10px 0;
    }
}
.searchResult{
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 40px;

}
#sequence{
    width: 141px;
    height: 40px;
    padding: 1%;
    margin-left: auto;
    border-radius: 4px;

}
@media (max-width:768px){
    #sequence{
       position: absolute;
       bottom: 20px;
       right: 5%;
       width: 92px;
       height: 40px;
    }
}
.showTitle{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #F4F1EA;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    font-size:16px;
    font-weight: bolder;
}
@media (max-width:768px){
    .showTitle{
        font-size:12px;
    }
}
.itemName{
    width: 20%;
}
.itemMarkt{
    width: 16%;
    text-align: center;
}
@media (max-width:768px){
    .itemName{
        width: 16%;
    }
    .itemMarkt{
        width: 14%;
        text-align: center;
    }
}
.itemPriceTop,.itemPriceMiddle,.itemPriceDown{
    width: 12%;
    text-align: center;

}
.itemPriceAverage,.itemPriceTrading{
    width: 14%;
    text-align: center;
}
@media (max-width:768px){
    .itemPriceTop,.itemPriceMiddle,.itemPriceDown{
        width: 12%;
        text-align: center;
        margin: 0 2px;
    }
    .itemPriceAverage,.itemPriceTrading{
        width: 17%;
        text-align: center;
        margin: 0 2px;
    }
}
.showItem{
    border-bottom: 2px solid #D9D9D9;
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    font-size:16px;
    font-weight: bolder;
}
@media (max-width:768px){
    .showItem{
        font-size:12px;
    }
}
.preset{
    border-bottom: 2px solid #D9D9D9;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2%;
    font-size:16px;
    font-weight: bolder;
}
.sortStatu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBlock{
    display: flex;
    flex-direction: column;
    width: 20px;
}
@media (max-width:768px){
    .iconBlock{
        width: 5px;
        margin-left: 5px;
        font-size: 8px;
    }
}
.sortStatu i{
    line-height: 10px;
}
.sortStatuActive{
    color: red;
}
.itemPriceTop,.itemPriceMiddle,.itemPriceDown,.itemPriceAverage,.itemPriceTrading{
    cursor: pointer;
}