/* 頁面Banner各頁各自設定 主要設定在headPage */
.banner{
    background-image: url(../img/banner_contact.png);
}
.mainText{
    color: black;
}
.subText{
    color: black;
}
/* 頁面Banner各頁各自設定 */
.content{
    width: 100%;
    background-image: url(../img/bg.jpg);
    padding: 50px 0;
    overflow: hidden;
}
.contactTitle{
    width: 100%;
    color: white;
    border-left: 5px solid white;
    font-size: 36px;
    font-weight: bolder;
    padding-left: 10px;
    
}
.contactTitleRWD{
    width: 100%;
    color: white;
    border-left: 5px solid white;
    font-size: 36px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 25px;
    font-weight: bolder;
    display: none;
}
.contactContent{
    width: 100%;
    line-height: 36px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 0 10px;
    margin-bottom: 40px;
}
.contactContent span{
    color: white;
}
.contactMainBlock{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.contectSubTitleRWD{
    color: white;
    padding: 0 10px;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: bolder;
    display: none;
}
.messageBlockRWD{
    margin: 20px 0;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1px;
    display: none;
}
.companyMap{
    width: 48%;
}
.mapStyle{
    width: 100%;
}
.formBlock{
    width: 48%;
}
.formItem{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.formTilteStyle{
    width: 20%;
    position: relative;
    padding-top: 10px;
    color: white;
    font-weight: bolder;

}
.formTilteStyle::after{
    content: "*";
    position: absolute;
    color: red;
    right: 15px;
    font-size: 24px;
}
.inputStyle{
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    padding: 10px;

}
.textareaStyle{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}
.formRight{
    margin-left: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verificationBlock{
    width: 45%;
    padding: 10px 0;
    /* background-color: #1E1408; */
    color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sentButton{
    width: 45%;
    padding: 10px 0;
    background-color: #1E1408;
    color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sentButton:hover{
    color: red;
}
.sentButtonRWD{
    width: 45%;
    padding: 10px 0;
    background-color: #1E1408;
    color: white;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.sentButtonRWD:hover{
    color: red;
}
@media (max-width:992px){
    .sentButton{
        display: none;
    }
    .sentButtonRWD{
        display: flex;
    }
}
.g-recaptcha{
    transform: scale(0.6)
}
@media (max-width:1200px){
    .inputStyle{
        width: 80%;
    }
    .textareaStyle{
        width: 80%;
    }
    .formTilteStyle::after{
        right: 8px;
    }
    .g-recaptcha{
        transform: scale(0.5)
    }
}
/* @media (max-width:992px){
    .inputStyle{
        width: 68%;
    }
    .textareaStyle{
        width: 68%;
    }
    .formTilteStyle::after{
        right: -20px;
    }
} */
@media (max-width:992px){
    .contactTitle{
        display: none;
    }
    .contactTitleRWD{
        display: block;
    }
    .contactContent{
        display: none;
    }
    .contectSubTitleRWD{
        display: block;
    }
    .contactMainBlock{
        flex-direction: column;
    }
    .messageBlockRWD{
        display: block;
    }
    .companyMap{
        width: 100%;
    }
    .formBlock{
        width: 100%;
    }
    .formRight{
        margin: auto;
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px dashed black;
        width: 100%;
        flex-direction: column;
    }
    .g-recaptcha{
        transform: scale(1)
    }
    .sentButton{
        width: 300px;
    }
    
}

@media (max-width:576px){
    .inputStyle{
        width: 70%;
    }
    .textareaStyle{
        width: 70%;
    }
    .formTilteStyle::after{
        right: -20px;
    }
    .formRight{
        margin-top: 30px;
        padding-top: 0px;
    }
    .g-recaptcha{
        transform: scale(0.7)
    }
    .sentButton{
        width: 200px;
    }
}

/* 動畫 */
/* 標題 */
.titleAnimation1{
    position: relative;
    left: -500px;
    opacity: 0;

}

.titleAnimationRWD1{
    position: relative;
    left: -500px;
    opacity: 0;
}
/* 按鈕 */
.buttonAnimation{
    position: relative;
    right: -500px;
    opacity: 0;
}
.buttonAnimationRWD{
    position: relative;
    bottom: -100px;
    opacity: 0;
}

.leftIn{
    animation: leftIn 2s 1;
    animation-fill-mode: forwards;
}
@keyframes leftIn{
    0%{
        opacity: 0;
        left: -500px;

    }
    100%{
        left: 0;
        opacity: 1;
    }
}
.rightIn{
    animation: rightIn 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes rightIn{
    0%{
        opacity: 0;
        right: -500px;

    }
    100%{
        right: 0;
        opacity: 1;
    }
}
.centerIn{
    animation: centerIn 2s 1;
    animation-fill-mode: forwards;
}
@keyframes centerIn{
    0%{
        opacity: 0;
        bottom: -100px;

    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}