/* 頁面Banner各頁各自設定 主要設定在headPage */
.banner{
    background-image: url(../img/banner_news.jpeg);
}
/* 頁面Banner各頁各自設定 */

.content{
    background-image: url(../img/bg.jpg);
    background-repeat: unset;
    background-size: cover;
    padding:50px 0;
    overflow: hidden;
}
.newsImg{
    width: 100%;
    max-height: 700px;
    margin-bottom: 80px;
}
.newsImg img{
    width: 100%;
    height: 100%;
}
.newsContentBlock{
    width: 100%;
}
.newsContentTop{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.newsDate{
    width: 110px;
    background-color: white;
    text-align: center;
    border: 2px solid #626262;
}
.newsTitle{
    margin: auto;
    font-size: 36px;
    font-weight: bolder;
    color: white;
}
.newsContentDown{
    padding-left: 110px;
}
.newsText{
    width: 600px;
    margin: auto;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 150px;

}
.backButton{
    width: 150px;
    text-align: center;
    background-color:#1E1408 ;
    color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    font-weight: bolder;
    display: block;
}
.backButton:hover{
    color: red;
}

.backButtonRWD{
    width: 80px;
    letter-spacing: 2px;
    text-align: center;
    background-color:unset;
    color: white;
    padding: unset;
    margin: unset;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: unset;
    font-weight: bolder;
    font-size: 14px;
    display: none;
}
.backButtonRWD:hover{
    color: red;
}


@media (max-width:768px){
    .newsImg{
        height: 66vw;
        margin-bottom: 20px;
    }
    .newsTitle{
        font-size: 24px;
    }
    .newsContentDown{
        padding-left: 0px;
    }
    .newsText{
        width: 100%;
        margin: auto;
        font-size: 16px;
        line-height: 40px;
        font-weight: bolder;
        margin-bottom: 20px;
    
    }
    .backButton{
        display: none;
    }
    .backButtonRWD{
        display: block;
    }

    
}
@media (max-width:576px){
    .newsDate{
        width: 80px;
        background-color: white;
        text-align: center;
        border: 2px solid #626262;
        font-size: 12px;
    }
    .newsTitle{
        font-size: 16px;
    }
}

/* 動畫設定 */
/* 標題 */
.titleAnimation1{
    position: relative;
    bottom: -100px;
    opacity: 0;
}

/* 圖片 */
.imgAnimation1{
    position: relative;
    bottom: -100px;
    opacity: 0;
}

.leftIn{
    animation: leftIn 2s 1;
    animation-fill-mode: forwards;
}
/* 按鈕 */
.buttonAnimation{
    position: relative;
    bottom: -100px;
    opacity: 0;
}
.buttonAnimationRWD{
    position: relative;
    right: -500px;
    opacity: 0;
}
@keyframes leftIn{
    0%{
        opacity: 0;
        left: -500px;

    }
    100%{
        left: 0;
        opacity: 1;
    }
}
.rightIn{
    animation: rightIn 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes rightIn{
    0%{
        opacity: 0;
        right: -500px;

    }
    100%{
        right: 0;
        opacity: 1;
    }
}
.centerIn{
    animation: centerIn 2s 1;
    animation-fill-mode: forwards;
}
@keyframes centerIn{
    0%{
        opacity: 0;
        bottom: -100px;

    }
    100%{
        bottom: 0;
        opacity: 1;
    }
}