* {
    box-sizing: border-box;
    margin: 0;
  }



  /* img {
    width: 100%;
    height: 100vh;
  } */




  /* --------------頁首----------- */
  .firstbox {
    width: 100%;
    background-image: url(../03-素材/裝飾/頁首1-02.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .navbar {
    text-align: center;
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    /* background-image: url(/03-素材/裝飾/navbar1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
  }

  .titlebuttom_group {
    width: 90%;
    height: 80%;
    /* background-color: #34414E; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .tittlebuttom-l {
    width: 43%;
    height: 80%;
    /* margin: 5px 0 0 0; */
    /* background-color: red; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tittlebuttom-r {
    width: 43%;
    height: 80%;
    padding-left: 50px;
    /* margin: 5px 0 0 0; */
    /* background-color: red; */
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .titlelogo {
    /* width: 1%; */
    height: 130%;
    /* background-color: brown; */

  }

  .titlelogo img {
    width: 50%;
    height: 100%;
  }

  .titlebuttom {
    width: 30%;
    height: 100%;
    /* background-color: rgb(223, 137, 24); */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 30px;
    font-weight: bolder;
  } 

  .titlebuttom-p {
    width: 40px;
    height: 40px;
    /* background-color: cornsilk; */

  }

  .titlebuttom-p img {
    /* width: 100%; */
    height: 100%;
  }

  .titlebuttom-t {
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
    color: #f3f7d0;
    
    /* opacity: 0.8; */

  }

  /* ---------滑動顯示------- */
  .titlebuttom:hover .hover {
    display: block;
  }

  .hover {
    display: none;
    /* background-color: antiquewhite; */
  }
  .titlebuttom-t:hover{
    color: rgb(187, 56, 56);
    transition: 0.5s;

  }


  .videobox {
    /* background-image: url(/03-素材/裝飾/菜單簡介背景4.png); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
  }

  /* .video_bunner {
    width: 100%;
    height: 100%;
    border-radius: 15% 15% 0 0;
    background-color: rgb(0, 0, 0);
    background-image: url(/03-素材/天空之城/天空之城4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  } */

  .video_down {
    width: 100%;
    border-radius: 15% 15% 0 0;
  }

  /* -----------活動紀錄----------- */
  .banner {
    width: 100%;
    height: 1100px;
    /* background-color: crimson; */
    background-image: url(../03-素材/裝飾/頁首2.0-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
  }

  h1 {
    padding-top: 40px;
    margin: 0;
    text-align: center;
    font-size: 48px;
    letter-spacing: 10px;
    color: #f3f7d0;

  }

  .bottungroup {
    /* background: cornflowerblue; */
    width: 40%;
    padding: 10px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-around;
  }

  .buttunbox {
    background-color: rgb(230, 231, 255);
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .banner-title{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  
  .banner-title img{
    width: 15%;
    height: 5%;
    padding-top: 60px;
    margin: 0 20px;
  }
  .sectionTextbox1 img{
    width: 19%;
    margin: 0 20px;
  }
  .titlebox img{
    width: 19%;
    padding-top: 40px;
    margin: 0 20px;
  }
  .cam-titlebox img{
    width: 19%;
    padding-top: 40px;
    margin: 0 20px;
  }
  .information_title img{
    width: 30%;
    padding: 0 10px;
  }

  .banner h1{
    font-weight: bolder;
  }
  
  

  .opennessbox {
    opacity: 1;
    position: sticky;
  }
  .photo {
    /* background-image: url(../03-素材/裝飾/頁首2.1-01.png); */
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
  }


  /* 網路按鈕 */

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.2em double var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* -------網路按鈕2----- */
.btn {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: 5px 15px;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 3px #00bcdd solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.btn:before, .btn:after {
  border: 3px #00bcdd solid;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}

.btn:before {
  border-image: linear-gradient(45deg, #00bcdd 0%, #0097dd 100%);
  border-image-slice: 1 1 0 1;
  left: -0.59em;
  top: .15em;
  width: .31em;
  height: 100%;
  transform: skewY(-45deg);
}

.btn:after {
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 1 0;
  bottom: -8px;
  right: 7px;
  width: 100%;
  height: .31em;
  transform: skewX(-45deg);
}

.btn:hover {
  background-color: white;
  background-size: 90%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
}

.cta {
  background-color: #00bcdd;
}

.cta:before {
  border-image-slice: 1;
}

.cta:after {
  border-image-slice: 1;
}

.cta:hover {
  background: white;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1;
  color: #101832;
}

.cta:hover:before {
  height: 100%;
}

.cta:hover:after {
  width: 100%;
}

.bg {
  background: none;
  border: 3px solid #101832;
  color: #101832;
}

.bg:before, .bg:after {
  background: #101832;
  border: 3px solid #101832;
}

.bg:hover {
  border-image: none;
}

.bg:hover:before, .bg:hover:after {
  background: #101832;
}

/* --------------------- */
  /* --------swiper------ */
  .swiper-container {
    width: 100%;
    /* height: 0%; */
  }

  .swiper-slide {
    width: 100%;
    height: 95%;
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .igbox {
    width: 25%;
    margin: 0 50px;
  }
  .swiper-button-next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../03-素材/裝飾/箭頭-02.png);
    background-size: cover;
    color: rgba(219, 219, 219,0);
  }
  .swiper-button-prev{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../03-素材/裝飾/箭頭-01.png);
    background-size: cover;
    color: rgba(219, 219, 219,0);
  }

  /* --------swiper------ */







  /* ---------釘牆背景------------- */
  .parallaxbox {
    width: 100%;
    background-color: black;
  }



  .sectionTextbox1 {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 18px;
    /* padding-top: 18px; */
    letter-spacing: 5px;
    /* line-height: 36px; */
    background-color: rgb(0, 0, 0);
    /* background-image: url(../03-素材/裝飾/黑色背景條.PNG); */
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .sectionTextbox1 h1{
    font-weight: bolder;
    padding: 0;
  }

  .backgroudfixed {
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .sec1 {
    background-image: url(../03-素材/天空之城/天空之城1.jpg);
    background-position-y: 70%;
  }

  .sec2 {
    background-image: url(../03-素材/天空之城/天空之城2.jpg);
    background-position-y: 70%;
  }

  .sec3 {
    background-image: url(../03-素材/天空之城/天空之城3.jpg);
  }

  .openness {
    opacity: 0.7;
  }

  /* ---------lax------------- */

  .laxbox {
    width: 100%;
    height: 3050px;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    background-image: url(../03-素材/裝飾/背景4500px-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .parallax_window {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;


  }

  .effect_box {
    width: 250px;
    height: 200px;
    /* background-color: black; */
    text-align: center;
    font-size: 18px;
    padding-top: 18px;
    background-image: url(../03-素材/裝飾/天空之城logo白色1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 99;

  }

  .effect_box_black {
    width: 250px;
    height: 200px;
    /* background-color: black; */
    text-align: center;
    font-size: 18px;
    padding-top: 18px;
    background-image: url(../03-素材/裝飾/天空之城logo黑色1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 99;

  }


  .video_box {
    z-index: 1;
  }





  /* ------------園區簡介-------------------- */

  .park_top{
    width: 100%;
    height: 160vh;
    background-image: url(../03-素材/裝飾/天空之城logo白色1.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .Introduction_box {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../03-素材/裝飾/星空背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .Introductionbox {
    width: 1140px;
    height: 517px;
    /* background-color: rgb(235, 8, 8); */
    margin: auto;
    display: flex;
    position: absolute;
    top: 10%;
  }

  .l-photobox {
    width: 50%;
    height: 500px;
    background-color: #34414E;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo_box {
    width: 595px;
    height: 500px;
    display: none;
  }
  .photo_box img{
    margin: auto;
    width: 100%;
    border: 16px solid rgb(0, 0, 0);
    
  }

  .r-contantbox {
    width: 50%;
    height: 100%;
    background-color: rgb(44, 42, 165);
  }

  .top-titlebox {
    width: 100%;
    height: 40%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }

  .title_box {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .title_button {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box {
    width: 100%;
    height: 60%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .text_article {
    width: 90%;
    height: 90%;
    padding: 20px 40px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 8px;
    background-color: #34414E;
    background-color: black;
    color: rgb(216, 214, 204);
    border: 2px solid white;
    display: none;
  }
  .text_article h3{
    margin: 10px 0;
    font-weight: bolder;
    color: blanchedalmond;

    
  }

  /* --------開關顯示---- */

  .active_b {
    display: block;
  }

  .title_button.active_b {
    /* background-color: rgb(214, 30, 30); */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .photo_box img {
    max-width: 100%;
    height: auto;
  }



  /* 自創按鈕 */
.btn1{
    width: 100%;
    height: 80%;
    border: 2px solid rgb(253, 253, 244);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_out{
  width: 100%;
  height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_in{
    width: 200px;
    height: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box_in_x{
  width: 200px;
    height: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box_in:hover{
    width: 185px;
    height: 95%;
  border: 2px solid rgb(219, 219, 117);
    color: cornsilk;
    font-size: 24px;
    transition: 0.8s;

}
.box_in_x:hover{
  width: 185px;
  height: 95%;
border: 2px solid rgb(219, 219, 117);
  color: cornsilk;
  transition: 0.8s;

}
.btn1:hover{
  border: 2px solid rgb(230, 121, 71);
    transition: 1.5s;
}




  /* ----------------菜單------------- */
  .bunner_box {
    width: 25%;
    height: 531px;
    /* padding-top: 25%; */
    /* writing-mode: vertical-lr; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;

  }
  .box45{
    width: 50px;
    height: 50px;
    background-color: wheat;
  }

  
  


  .box_bg1 {
    /* background-image: url(../03-素材/餐廳/Menu1_工作區域\ 1.png); */
    background-image: url(../03-素材/裝飾/菜單簡介背景1.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box_bg1:hover{
    background-image: url(../03-素材/餐廳/Menu1_工作區域\ 1.png);
    transition: 2s;
    background-size: cover;
  }

  .box_bg2 {
    /* background-image: url(../03-素材/餐廳/Menu2-02.png); */
    background-image: url(../03-素材/裝飾/菜單簡介背景2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box_bg2:hover{
    background-image: url(../03-素材/餐廳/Menu2-02.png);
    transition: 2s;
    background-size: cover;

  }
  .menu_font{
    
  }
  .box_bg1:hover .menu_font{
    display: none;
  }
  .box_bg2:hover .menu_font{
    display: none;
  }
  .box_bg3:hover .menu_font{
    display: none;
  }
  .box_bg4:hover .menu_font{
    display: none;
  }

  .box_bg3 {
    background-image: url(../03-素材/裝飾/菜單簡介背景3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box_bg3:hover{
    background-image: url(../03-素材/餐廳/Menu3-03.png);
    transition: 2s;
    background-size: cover;
  }

  .box_bg4 {
    background-image: url(../03-素材/裝飾/菜單簡介背景4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box_bg4:hover{
    background-image: url(../03-素材/婚攝/b20140206114141396.jpg);
    transition: 2s;
    background-size: cover;
  }

  /* -----------4菜單簡介------------- */
  /* ------------天堂菜單簡介-------------------- */

  .menubody {
    width: 100%;
    height: 100vh;
    /* background-image: url(../03-素材/剪裁圖/天堂古堡菜單/天堂古堡菜單-背景.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubox {
    width: 90%;
    height: 90%;
    background-color: rgb(252, 252, 252);
    display: flex;
}

.menubox-l {
    width: 42.5%;
    height: 100%;
    background-color: burlywood;
}

.menu-photo {
    width: 100%;
    display: none;
}

.menubox-r {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.menu-main {
    width: 95%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main_titlebox {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_titlebox h2 {
  font-size: 40px;
    margin: 0;
    letter-spacing: 4px;
    font-weight: bolder;
}

.main_product {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: black;  */
}

.H-product {
    /* margin: 10px 0; */
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.En_font_size {
    font-size: 16px;
}

.menu_p_size {
    width: 100%;
}


/* ---------互動mode----- */
.modal-bg {
    background-image: url(../03-素材/裝飾/木頭桌4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: brown;
}


/* ------網路跳度動畫------ */

.mark {
    background-color: unset;
}

.mark_mode {
    display: none;
    float: right;
    width: 50px;
    height: 40px;
    /* background-color: violet; */
    position: relative;

}

.mark:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 30%;
    width: 20px;
    height: 20px;
    background: #c00;
    border-radius: 2px;
    transform: rotate(45deg);
    -webkit-animation: mark .8s infinite;
}

@-webkit-keyframes mark {
    0% {
        top: 5px;
    }

    20% {
        border-radius: 2px;
        /*從 20% 的地方才開始變形*/
    }

    50% {
        top: 25px;
        border-bottom-right-radius: 25px;
    }

    80% {
        border-radius: 2px;
        /*到 80% 的地方恢復原狀*/
    }

    100% {
        top: 5px;
    }
}

.mark:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 128px;
    width: 18px;
    height: 3px;
    background: #eaeaea;
    border-radius: 100%;
    -webkit-animation: shadow .8s infinite;
}

@-webkit-keyframes shadow {

    0%,
    100% {
        top: 40px;
        left: 30%;
        width: 20px;
        background: #eaeaea;
    }

    50% {
        top: 40px;
        left: 30%;
        /*讓陰影保持在原位*/
        width: 22px;
        height: 5px;
        background: #eee;
    }
}

/* ---------點擊切換mode----- */
.photo_active {
    display: block;
}

.H-product.photo_active {
    transition: 1s;
    padding-left: 30px;
    border-left: 10px solid black;
}
  /* ------------鳥VS人-------------------- */

  .foodbody {
    width: 100%;
    height: 100vh;
    background-image: url(../03-素材/菜單/鳥VS人背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 18px;
  }

  .headerbox {
    width: 160px;
    height: 160px;
    background-color: rgba(0, 105, 52, 0.7);
    margin: auto;
    display: flex;
    justify-content: center;
    /* position: absolute;
      top:5%; */
    text-align: center;
    color: white;
    flex-wrap: wrap;
    font-size: 24px;
    padding: 18px;
    border-radius: 50%;

  }

  .textbox {
    font-size: 30px;
    margin: 0;
    /* line-height: 0; */
    padding: 0;
  }

  .mainbox {
    width: 90%;
    height: calc(95vh - 150px);
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
    padding-top: 15px;
  }

  .foodbox {
    width: 26%;
    height: 45%;
    /* background-color: black; */
    /* padding-top: 20px; */
  }

  .foodcontant {
    width: 200px;
    height: 100%;
    background-color: #C9D1C2;
    margin: auto;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-radius: 5%;

  }

  .foodphoto {
    width: 170px;
    height: 170px;

    margin: auto;

    /* background-color: brown; */
  }

  .foodtext {
    width: 170px;
    height: 50px;
    background-color: #EEEEEF;
    margin: auto;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    border-radius: 5%;

  }

  .foodphoto img {
    border-radius: 5%;
  }

  /* ------------酒單-------------------- */

  .liqueur_bg {
    background-image: url(../03-素材/裝飾/木頭桌_灰暗.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.liqueur_box {
    width: 100%;
    height: 800px;
}

.liqueur_title {
    width: 45%;
    /* background-color: brown; */
    margin: auto;
}

.liqueur_main {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    background-image: url(../03-素材/裝飾/);
}
.carousel-item img{
    margin: auto;
}

  /* -----------半林秘境------------- */

  /* -----------------------------露營資訊------------------------------------- */

  .camping {
    width: 100%;
    height: 900px;
    background-color: rgb(118, 153, 250);
    background-image: url(../03-素材/裝飾/桌布背景1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

  }

  .cam-titlebox {
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding-top: 60px;
  }
  .cam-titlebox h1{
    color: black;
    font-weight: bolder;
  }


  /* -----------------------------電視方塊------------------------------------- */

  .TVbox {
    width: 920px;
    height: 690px;
    /* background-color: #000000; */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 30px;

  }

  /* ----------上半部----------- */

  .TVbox-t {
    width: 100%;
    height: 75%;
    margin: auto;
    box-shadow: 4px 4px 4px #222221;
    border-bottom: unset;
    background-image: url(../03-素材/裝飾/背景生產器light_wool5.png);
    background-color: #314451;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-around;
  }

  .TVlistbox {
    width: 15%;
    height: 80%;
    /* margin: 10px; */
    margin-left: 30px;
    margin-top: 20px;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .thembox_out{
    width: 100%;
    height: 15%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


  }

  .themebox {
    width: 98%;
    height: 96%;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 5px;
    margin: auto;
    border: 2px solid black;
    background-image: url(../03-素材/裝飾/背景生產器light_wool.png);
    color: #0A1600;
    border-radius: 5px;

  }

  .TVphotobox {
    width: 75%;
    height: 90%;
    /* margin-right: 10px; */
    /* margin: 10px; */
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 50px;
    display: none;

  }

  /* ----------下半部----------- */


  .TVbox-b {
    width: 100%;
    height: 25%;
    margin: auto;
    box-shadow: 4px 4px 4px #222221;
    background-image: url(../03-素材/裝飾/背景生產器light_wool5.png);
    background-color: #314451;
    border-radius: 0 0 30px 30px;
    display: flex;
  }
  .TVbox-b img{
    margin-left: 10px;
    /* width: 22%; */
    height: 100%;
  }
  .TVmainbox_out{
    width: 70%;
    height: 90%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 20px;
  }

  .TVmainbox {
    width: 99%;
    height: 96%;
    border-radius: 5px;
    border: 2px solid black;
    background-image: url(../03-素材/裝飾/背景生產器light_wool.png);

    /* background-color: burlywood; */
  }
  
  .TVmainbox:hover{
    transition: 1s;
    color: rgb(230, 231, 255);
    background-image: url(../03-素材/裝飾/背景生產器light_wool6.png);
  }
  .TVmainbox:hover .TVtext{
    transition: 1s;
    color: rgb(218, 255, 229);
    font-weight: bold;
  }
  .TVmainbox:hover .TVtitlebox{
    transition: 1s;
    color: rgb(253, 255, 230);
  }

  .TVtitlebox {
    width: 95%;
    height: 35%;
    /* background-color: brown; */
    /* margin: auto; */
    text-align: left;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 50px;
    font-weight: bold;
    color: #0a1600;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .TVtext-group {
    width: 100%;
    height: 60%;
    /* background-color: cadetblue; */
    display: flex;
    flex-wrap: wrap;
  }

  .TVtext {
    width: 100%;
    height: 40%;
    /* background-color: coral; */
    margin: 0px auto;
    text-align: left;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    color: #720202;
    margin-left: 10px;
  }



  .roundedbox {
    border-radius: 50px;
  }

  /* ----------------基礎設定----------------- */
  .active-A {
    display: block;
  }

  .themebox.active-A {
    background-color: rgb(214, 30, 30);
    color: cornsilk;
    font-weight: bolder;
    background-image: url(../03-素材/裝飾/背景生產器light_wool6.png);

  }

  .bg-red {
    background-color: red;
  }

  .bg-blue {
    background-color: blue;
  }

  .bg-green {
    background-color: green;
  }

  .bg-yellow {
    background-color: yellow;
  }

  .img_size {
    width: 90%;
    border-radius: 50px;
    border: 4px double rgb(247, 245, 245);
  }


  /* -----------------------------最新消息------------------------------------- */
  .latest_news {
    width: 100%;
    height: 800px;
    /* background-color: rgb(187, 56, 56); */
    background-image: url(../03-素材/裝飾/桌布背景2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .titlebox {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
  .titlebox h1{
    color: black;
    font-weight: bolder;
  }

  .newbox-group {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .newbox {
    width: 825px;
    height: 230px;
    background-color: #00023d;
    background-image: url(../03-素材/裝飾/背景生產器Ravenna2.png);
    margin-bottom: 50px;
    box-shadow: 4px 4px 4px #222221;

    /* display: flex; */

  }

  .newbox-l {
    width: 825px;
    height: 230px;
    background-image: url(../03-素材/裝飾/背景生產器Ravenna2.png);

  }

  .newbox-r {
    width: 825px;
    height: 230px;
    position: relative;
    bottom: 230px;
    background-image: url(../03-素材/裝飾/背景生產器Ravenna2.png);

  }

  /* -----------------------左邊照片方塊------------------------------- */

  .photobox-l {
    width: 825px;
    height: 230px;
    clip-path: polygon(0 0, 65% 0, 50% 100%, 0% 100%);

  }

  .photobox-l-in {
    width: 825px;
    height: 230px;
    clip-path: polygon(1% 2%, 64% 2%, 49.5% 98%, 1% 98%);
    /* background-image: url(../03-素材/婚攝/unnamed.jpg); */
  }
  
  .photobox-l-in img{
      width: 65%;
      position: relative;
      right: 150px;
      bottom:90px;
  }

  /* -----------------------右邊照片方塊------------------------------- */

  .photobox-r {
    clip-path: polygon(100% 0, 35% 0, 50% 100%, 100% 100%);
  }

  .photobox-r-in {
    width: 825px;
    height: 230px;
    background-color: white;

    clip-path: polygon(99% 2%, 36% 2%, 50.5% 98%, 99% 98%);
  }
  .photobox-r-in img{
    width: 65%;
      position: relative;
      left: 150px;
      bottom:70px;
      border: 2px solid black;
  }



  /* -----------------------右邊文字方塊------------------------------- */

  .textbox-r {
    /* background-color: #A69376; */
    clip-path: polygon(100% 0, 65% 0, 50% 100%, 100% 100%);
  }

  .Main-group-r {
    width: 35%;
    height: 100%;
    position: absolute;
    margin-left: 535px;
    /* background-color: tomato; */

  }

  .nb-titlebox-r {
    width: 100%;
    height: 20%;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-left: 6px;
    letter-spacing: 6px;
    /* background-color: violet; */

  }

  .mainbox-r {
    width: 100%;
    height: 60%;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    padding-top: 5px;
    color: white;
    /* background-color: rgb(219, 210, 79); */

  }

  .button-r {
    width: 50%;
    height: 15%;
    /* background-color: rgba(255, 71, 71, 0.8); */
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    color: rgb(167, 167, 167);
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .button-r:hover{
    color: rgb(248, 71, 71);
  }

  /* -----------------------左邊文字方塊------------------------------- */

  .textbox-l {
    background-color: #A69376;
    clip-path: polygon(0 0, 35% 0, 50% 100%, 0 100%);
  }

  .Main-group-l {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;

  }

  .nb-titlebox-l {
    width: 100%;
    height: 20%;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-left: 6px;
    padding-top: 10px;
    letter-spacing: 6px;
    /* background-color: violet; */
  }

  .mainbox-l {
    width: 100%;
    height: 60%;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    padding-top: 10px;
    margin-left: 10px;
    color: white;
    /* background-color: rgb(219, 210, 79); */

  }

  .button-l {
    width: 30%;
    height: 20%;
    margin-left: 250px;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color:  rgb(167, 167, 167);

  }
  .button-l:hover{
    color: rgb(248, 71, 71);
  }
  /* ------------第七幕入園資訊-------------- */
  .Park_Information{
    width: 100%;
    height: 676px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../03-素材/裝飾/入園需知背景.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
  }
  .map_box{
    width: 40%;
    display: flex;
    align-items: center;
  }
  .map_box img{
    width: 100%;
  }
  .information_box{
    width: 50%;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
  }
  .information_title{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .information_title h1{
    margin: 0;
    padding: 0;
  }
  .information_main{
    height: 90%;
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    justify-content: space-between;
  }
  .in_m_t{
    font-size: 20px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .m_t{
    width: 50%;
    padding-top: 20px;
  }
  .in_m_m{
    width: 100%;
    height: 30%;
    font-size: 20px;
    line-height: 30px;

    display: flex;
    justify-content: space-between;
    color: white;
    
  }
  .m_m{
    width: 50%;
  }
  .in_m_d{
    width: 100%;
    height: 25%;
    font-size: 20px;
    line-height: 30px;
    color: white;

  }

  /* ------------footbox-------------- */
  .footBox {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 99;
  }
  .foot_main{
    width: 65%;
    display: flex;
    justify-content: space-between;
  }
  .m_text_l{
    width: 43%;
    color: cornsilk;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 3px;
  }
  .m_text_r{
    width: 43%;
    line-height: 24px;
    text-align: right;
    color: #fff8dc;
    font-size: 14px;
    letter-spacing: 3px;
  }

  .top_button{
    width: 60px;
    height: 50px;
    background-color: rgba(207, 209, 150, 0.7);
    background-image: url(../03-素材/裝飾/topbutton.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    right: 20px;
    bottom: 5px;
    z-index: 100;
    border-radius: 50%;
  }



  /* -------------測試------------- --- */
  /* ------------遮罩----------- */
  .maskbox {
    background-color: rgb(0, 0, 0);


  }

  .mask {
    margin: auto;
    width: 50%;
    height: 90vh;
    background: url("../03-素材/影片/2.gif") no-repeat top center;
    background-size: cover;
    -webkit-mask: url("../03-素材/剪影圖/結婚.png") no-repeat center center;
    mask: url("../03-素材/剪影圖/結婚.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    /* position: absolute; */
    top: 80%;
    left: 40%;

  }

  .overlay {
    mask: url("../03-素材/剪影圖/結婚.png") no-repeat center center;
    margin: 10px;
    padding: 10px;
  }

  #o1 {
    position: absolute;
    top: 5px;
    width: 100px;
    height: 230px;

  }

  .overlay img {
    float: left;
    padding-top: 10px;
  }