*{
    margin: 0;
    box-sizing: border-box  ;
}
.inputBlock{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.listBlock{
    background-color: rgba(148, 113, 113, 0.658);
    padding: 20px;
}
.listItem{
    display: flex;
}
.listItem input{
    outline: none;
    background-color: transparent;
    border: 0;
}
.inputButton,.delete,.revise,.store{
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 30px;
    margin: 0 10px;
}

