
/* slider Banner */
/* sliderBanner */
.sliderBannerBlock{
    width: 100%;
    /* background-color: bisque; */
}
.sliderBanner{
    width: 100%;
    height: 51.5vw;

}
.sliderBannerBlock .slick-arrow{
    display: none !important;
}
.bg1{
    background-color: red;
}
.bg2{
    background-color: blue;
}
.bg3{
    background-color: yellow;
}

.bannerBlock{
    width: 100%;
    height: 100%;
    position: relative;

}
.bannerBlock img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: top; */
    
}
.bgMaskRed{
    width: 100%;
    height: 100%;
    background-color: rgba(177, 0, 0, 0.151);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.bgMaskBlue{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 77, 177, 0.144);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.clickButton{
    width: 26%;
    height: 16%;
    /* background-color: rgba(95, 158, 160, 0.418); */
    position: absolute;
    bottom: 7%;
    right: 11%;
}

.slick-dots{
    bottom: 20px;
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
    
}
.slick-dots li.slick-active button:before{
    color: blue;
}
.slick-dots li button:before{
    font-size: 48px;
    color: tomato;
}

.bannerBlock{
    position: relative;
}
.bannerTitleBlock{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: crimson;
}
.silderMainBlock,.silderSubBlock{
    width: 600px;
    height: 250px;
    background-color: #A6BAB1;
    position: absolute;
    padding: 10px;
}
.silderSubBlock{
    background-color: white;
    top: 20px;
    left: 20px;
}

.maintitle{
    font-size: 72px;
    letter-spacing: 5px;
    color: white;
}
.sliderBanner{
    float: left;
}
.sliderBanner::after{
    content: "";
    clear: both;
}



/* 頁面標題 CSS */
.videoTitle{
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: red; */
}

.aboutTitle{
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: red; */
}
.newsTitle{
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: red; */
}

.mainTitle,.subTitle{
    font-size: 36px;
    text-align: center;
    color: #759942;
    letter-spacing: 5px;
}
.breakLine{
    width: 100px;
    height: 30px;
    border-bottom: 2px solid #759942;
    margin: auto;
}


/* news面 CSS */
.newsBlock{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;

}
.newsContent{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.newsItem{
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
}
.contentImg{
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentImg img{
    width: 100%;
    padding: 10px 30px;
    margin: auto;
}
.contentTextBlock{
    width: 50%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsItemTitle{
    font-size: 24px;
    margin-bottom: 40px;
    color: #759942;
    letter-spacing: 2px;



}
.newsItemText{
    margin-bottom: 40px;
    color: #759942;
    letter-spacing: 2px;
}
.newsMoreButton{
    width: 70px;
    padding-bottom:2px;
    border-bottom: 1px solid #759942;
    color: #759942;
}
.newsMoreButton:hover{
    border-bottom: 1px solid #F8C068;
    color: #F8C068;
}

@media(max-width:1200px){
    .newsBlock{
        width: 95%;
    }
}
@media(max-width:769px){
    .newsItem{
        flex-direction: column;
        padding: 0 10px;
    }
    .contentImg{
        width: 100%;
        border-right: unset;
        border-bottom: 1px solid black;
        max-height: 300px;

    }
    .contentImg img{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: auto;
        object-fit: contain;
    }
    .contentTextBlock{
        width: 100%;
        padding: 20px;
    }
    .newsItemTitle{
        font-size: 20px;
    }
}
@media (max-width:576px){
    .newsItemText{
        font-size: 14px;
        letter-spacing: 2px;
    }
}



/* video頁面 CSS */
.videoBlock{
    width: 100%;
}

.breakLine{
    width: 100px;
    height: 30px;
    border-bottom: 2px solid #759942;
    margin: auto;
}
.videoContent{
    width: 100%;
    padding: 50px 0;
    background-color: #E8EABC;
}
.sliderVideoBlock{
    height: 450px;
}
.sliderVideoBlockRWD{
    display: none;
    width: 100%;
    height: 250px;
}
.slick-dotted.slick-slider {
    margin-bottom: 50px;
}
.videoBox{
    width: 350px;
    height: 250px;
    margin: auto;
    background-color: cadetblue;
}

.videoBox iframe{
    width: 100%;
    height: 250px;
}
.sliderVideoBlockRWD .slick-dots{
    bottom: -30px;
}
.sliderVideoBlockRWD .slick-dots li button:before{
    font-size: 40px;
}


.videoMoreButton{
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #759942;
    color: #759942;
    margin: auto;
}
.videoMoreButton:hover{
    border: 1px solid #F8C068;
    color: #F8C068;

}



/* swiper套件 */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-containerRWD {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 500px;
    max-height: 400px;
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .swiper-slide iframe{
      width: 600px;
      /* min-width: 350px; */
      height: 315px;
  }
  @media (max-width:997px){
    .sliderVideoBlock{
        display: none;
    }
    .sliderVideoBlockRWD{
        display: block;
    }
  }



/* about頁面 CSS */
.aboutBlock{
    max-width: 1200px;
    margin: auto;
    /* padding: 50px 0; */
    margin-bottom: 50px;
}


.aboutContent{
    width: 100%;
    display: flex;
    background-color:#759942;
}
.aboutTextBlock{
    width: 60%;
    padding: 0 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutText{
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.aboutMoreButton{
    width: 110px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
}
.aboutMoreButton:hover{
    color:#F8C068;
    border: 1px solid #F8C068;

}
.aboutImg{
    width: 40%;
}
.aboutImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width:1200px){
    .aboutBlock{
        width: 95%;
    }

}

@media (max-width:576px){
    .aboutTextBlock {
        padding: 10px 20px;
    }
    .aboutText{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .aboutMoreButton{
        width: 110px;
        text-align: center;
        padding: 5px 10px;
        border: 1px solid white;
        color: white;
        font-size: 14px;
    }
    .aboutTitle{
        margin-bottom: 30px;
    }
    .mainTitle,.subTitle{
        font-size: 24px;

    }
    .breakLine{
        height: 20px;
    }
    
}


.topButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.topButton img{
    width: 80%;
}

@media (max-width:769px){
    .topButton{
        bottom: 0px;
        right: -10px;
    }
}