*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.headerBlock{
    width: 100%;
    color: #78583A;
    /* background-color: khaki; */
}
.headerContent{
    max-width: 1200px;
    padding: 10px 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.companyBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companyBlock img{
    height: 40px;
    padding-left: 5px;
}
.companyName{
    font-weight: bolder;
    font-size: 24px;
    margin-left: 20px;
}
.naverbar{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.navbarItem{
    margin: 0 10px;
    padding: 5px;
    font-weight: bolder;
}
.navbarItem:hover{
    color: #352514;
    border-bottom: 1px solid #352514;
}
.searchBar{
    border: 1px solid #78583A;
    max-height: 30px;
    padding: 2px 5px ;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.searchBar input{
    border: 0;
    border-left: 1px solid #78583A;
    border-right: 1px solid #78583A;
    margin: 0 5px;
}

.navbarList{
    display: none;
    /* margin-left: auto; */
    margin-right: 20px;
    font-size: 36px;
    padding: 5px;

}
.navbarListGroup{
    width: 100%;
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.842); */
    text-shadow: 0 0 15px yellow;
    color: white;
    font-size: 24px;
    display: none;
}
.navbarListItem{
    margin: 0 10px;
    padding: 5px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.navbarListItem:hover{
    color: #e6e6e6;
    text-shadow: 0 0 10px #ff0000;
    /* border-bottom: 1px solid #d8d8d8; */
}
.listSearchBar{
    width: 280px;
    margin-left: 10px;
    border: 1px solid #78583A;
    max-height: 30px;
    padding: 2px 5px ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.listSearchBar input{
    border: 0;
    border-left: 1px solid #78583A;
    border-right: 1px solid #78583A;
    margin: 0 5px;
}
.navbarMask{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
    z-index: 9;
}
.closeButton{
    width: 20px;
    height: 20px;
    color: brown;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
    font-size: 20px;
}
@media (max-width:997px){
    .naverbar{
        display: none;
    }
    .searchBar{
    margin-right: 20px;

    }
    .navbarList{
        display: block;
    }
}
@media (max-width:576px){
    .searchBar{
        display: none;
    }
    .navbarList{
        margin-left: auto;
    }
}
