.newsBlock{
    max-width: 1200px;
    margin: auto;
}
.newsTitle{
    color: #78583A;
    margin-bottom: 50px;
    font-size: 36px;
    letter-spacing: 5px;
    text-align: center;
}
.newsTitle span{
    font-size: 24px;
}
.newsList{
    width: 100%;
    display: flex;
}
.newsItem{
    width: 25%;
    padding: 5px;
}
.newsItemImg{
    position: relative;
}
.newsItemImg img{
    width: 100%;
}
.newsText{
    width: 100%;
    padding: 20px 0;
    letter-spacing: 2px;
    color: #78583A;
}
.newsMoreButton{
    color: #78583A;
    display: flex;
    align-items: center;

}
.newsMoreButton span{   
    border-bottom: 1px solid #78583a83;
}

.newsMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.521);
    display: none;
}
.newsItem:hover .newsMask{
    display: block;
}
.newsMoreButton i{
    opacity: 0;
    margin-left: 10px;
}
.newsMoreButton:hover i{
    opacity: 1;
}