
.dropdown img{
    width: 30px;
    margin: 0 10px;
}
.header-style-three .main-menu .navigation > li:last-child{
    margin-left: 200px;
}
.tp-caption a{
    color: white;
    
}
.tedIconmode {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu .navigation > li.dropdown > a:after{
    display: none;
}

.cmsms_inview .cmsms_post_animation.cmsms_animated{
    background-color: black;
}
#content{
    width: 100%;
}

/* #service{
    height: 100%;
    height: unset;
} */
#service[style]{ 
    height: 100% !important; 
} 
.owl-item{
    /* margin: 0 5px; */
}
.owl-dots{

}

.history span:first-child{
    background-color: unset;
    color: #ff6119;
    margin-right: 0;
}
.main-menu .navigation > li > ul > li > ul > li > a{
    padding: 11px 0;
}
.history span{
    color: black;
}
.mobile-menu-visible .mobile-menu .menu-box{
    overflow: hidden;
}
.owl-carousel.owl-drag .owl-item{
    padding: 5px;
}
@media (max-width:1200px){
    
    .header-style-three .main-menu .navigation > li:last-child{
        margin-left: 50px;
    }

}
@media (max-width:997px){
    .dropdown img{
        width: 25px;
        margin: 0 5px;
    }

    .header-style-three .main-menu .navigation > li:last-child{
        margin-left: 50px;
    }

}

#main{
    background-color: white;
}
.testimonial-section-two{
    background-color: white;

}
.testimonial-section-two:before{
    background-image: unset;
}
.newModeMoreButtonMode{
    padding:5px;
    text-align: center;
    width: 70px;
    margin: auto;
    margin-top: 50px;
    color: white;
    background-color: tomato;
}

.serviceMoreButtonMode{
    padding:  5px;
    width: 70px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: tomato;
}