

@font-face {
  font-family: 'Karen2';
  src: url('../myicons2/icons.eot');
  src: url('../myicons2/icons.eot?#iefix') format('embedded-opentype'),
       url('../myicons2/icons.woff2') format('woff2'),
       url('../myicons2/icons.woff') format('woff'),
       url('../myicons2/icons.ttf') format('truetype'),
       url('../myicons2/icons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.fa2 {
    display: inline-block;
    font: normal normal normal 14px/1 'Karen2';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .fa-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
  }

  .fa-2x {
      font-size: 2em;
  }

  .fa-3x {
      font-size: 3em;
  }

  .fa-4x {
      font-size: 4em;
  }

  .fa-5x {
      font-size: 5em;
  }



  .fa-fw {
      width: 1.28571429em;
      text-align: center;
  }



  .fa-ul {
      padding-left: 0;
      margin-left: 2.14285714em;
      list-style-type: none;
  }

  .fa-ul> li {
      position: relative;
  }

  .fa-li {
      position: absolute;
      left: -2.14285714em;
      width: 2.14285714em;
      top: 0.14285714em;
      text-align: center;
  }

  .fa-li.fa-lg {
      left: -1.85714286em;
  }



  .fa-border {
      padding: .2em .25em .15em;
      border: solid 0.08em #eeeeee;
      border-radius: .1em;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float: left;
  }

  .fa.pull-left {
      margin-right: .3em;
  }

  .fa.pull-right {
      margin-left: .3em;
  }



  .fa-spin {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
  }

  .fa-pulse {
      -webkit-animation: fa-spin 1s infinite steps(8);
      animation: fa-spin 1s infinite steps(8);
  }

  @-webkit-keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }



  .fa-rotate-90 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .fa-rotate-180 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .fa-rotate-270 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
  }

  .fa-flip-horizontal {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  }

  .fa-flip-vertical {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
  }

  :root .fa-rotate-90,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical {
      filter: none;
  }



  .fa-stack {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
  }

  .fa-stack-1x,
  .fa-stack-2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .fa-stack-1x {
      line-height: inherit;
  }

  .fa-stack-2x {
      font-size: 2em;
  }

  .fa-inverse {
      color: #ffffff;
  }



  .fa-phone-in-talk:before {
      content: '\f000';
  }

  .fa-question-circle:before {
      content: '\f001';
  }

  .fa-exclamation-circle:before {
      content: '\f002';
  }

  .fa-ruler-combined:before {
      content: '\f003';
  }

  .fa-truck:before {
      content: '\f004';
  }

  .fa-money:before {
      content: '\f005';
  }

  .fa-table:before {
      content: '\f006';
  }

  .fa-user-male:before {
      content: '\f007';
  }

  .fa-bullhorn:before {
      content: '\f008';
  }

  .fa-subtitles:before {
      content: '\f009';
  }

  .fa-language:before {
      content: '\f00a';
  }

  .fa-spinner-clock:before {
      content: '\f00b';
  }

  .fa-12:before {
      content: '\f00c';
  }

  .fa-123:before {
      content: '\f00d';
  }

  .fa-1234:before {
      content: '\f00e';
  }

  .fa-12345:before {
      content: '\f00f';
  }

  .fa-123456:before {
      content: '\f010';
  }

  .fa-1234567:before {
      content: '\f011';
  }

  .fa-house:before {
      content: '\f012';
  }

  .fa-bag:before {
      content: '\f013';
  }

  .fa-mony:before {
      content: '\f014';
  }

  .fa-5646:before {
      content: '\f015';
  }

  .fa-grid:before {
      content: '\f016';
  }

  .fa-sweden:before {
      content: '\f017';
  }

  .fa-th-list:before {
      content: '\f018';
  }

  .fa-th-large:before {
      content: '\f019';
  }

  .fa-comment-text-outline:before {
      content: '\f01a';
  }

  .fa-toc:before {
      content: '\f01b';
  }

  .fa-volume-down:before {
      content: '\f01c';
  }

  .fa-shopping-bag:before {
      content: '\f01d';
  }

  .fa-shopping-bag-fas:before {
      content: '\f01e';
  }

  .fa-minus-circle:before {
      content: '\f01f';
  }

  .fa-gf:before {
      content: '\f020';
  }

  .fa-post:before {
      content: '\f021';
  }

  .fa-gfout:before {
      content: '\f022';
  }

  .fa-gfline:before {
      content: '\f023';
  }

  .fa-hand:before {
      content: '\f024';
  }

  .fa-gfcoin:before {
      content: '\f025';
  }

  .fa-baba:before {
      content: '\f026';
  }

  .fa-wowow:before {
      content: '\f027';
  }

  .fa-machine:before {
      content: '\f028';
  }

  .fa-666:before {
      content: '\f029';
  }

  .fa-coin:before {
      content: '\f02a';
  }

  .fa-888:before {
      content: '\f02b';
  }

  .fa-bell2:before {
      content: '\f02c';
  }

  .fa-aas:before {
      content: '\f02d';
  }

  .fa-align-center:before {
      content: '\f02e';
  }

  .fa-x:before {
      content: '\f02f';
  }

  .fa-bars2:before {
      content: '\f030';
  }

  .fa-align-justify:before {
      content: '\f031';
  }

  .fa-alarm:before {
      content: '\f032';
  }

  .fa-account:before {
      content: '\f033';
  }

  .fa-account-outline:before {
      content: '\f034';
  }

  .fa-account-circle:before {
      content: '\f035';
  }

  .fa-times:before {
      content: '\f036';
  }

  .fa-minus:before {
      content: '\f037';
  }

  .fa-plus:before {
      content: '\f038';
  }

  .fa-pp:before {
      content: '\f039';
  }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
