

@font-face {
  font-family: 'Yoyo';
  src: url('../myicons3/icons.eot');
  src: url('../myicons3/icons.eot?#iefix') format('embedded-opentype'),
       url('../myicons3/icons.woff2') format('woff2'),
       url('../myicons3/icons.woff') format('woff'),
       url('../myicons3/icons.ttf') format('truetype'),
       url('../myicons3/icons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




.fa3 {
    display: inline-block;
    font: normal normal normal 14px/1 'Yoyo';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .fa-lg {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
  }

  .fa-2x {
      font-size: 2em;
  }

  .fa-3x {
      font-size: 3em;
  }

  .fa-4x {
      font-size: 4em;
  }

  .fa-5x {
      font-size: 5em;
  }



  .fa-fw {
      width: 1.28571429em;
      text-align: center;
  }



  .fa-ul {
      padding-left: 0;
      margin-left: 2.14285714em;
      list-style-type: none;
  }

  .fa-ul> li {
      position: relative;
  }

  .fa-li {
      position: absolute;
      left: -2.14285714em;
      width: 2.14285714em;
      top: 0.14285714em;
      text-align: center;
  }

  .fa-li.fa-lg {
      left: -1.85714286em;
  }



  .fa-border {
      padding: .2em .25em .15em;
      border: solid 0.08em #eeeeee;
      border-radius: .1em;
  }

  .pull-right {
      float: right;
  }

  .pull-left {
      float: left;
  }

  .fa.pull-left {
      margin-right: .3em;
  }

  .fa.pull-right {
      margin-left: .3em;
  }



  .fa-spin {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
  }

  .fa-pulse {
      -webkit-animation: fa-spin 1s infinite steps(8);
      animation: fa-spin 1s infinite steps(8);
  }

  @-webkit-keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes fa-spin {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }



  .fa-rotate-90 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .fa-rotate-180 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2)";
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .fa-rotate-270 {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=3)";
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
  }

  .fa-flip-horizontal {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  }

  .fa-flip-vertical {
      filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
  }

  :root .fa-rotate-90,
  :root .fa-rotate-180,
  :root .fa-rotate-270,
  :root .fa-flip-horizontal,
  :root .fa-flip-vertical {
      filter: none;
  }



  .fa-stack {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
  }

  .fa-stack-1x,
  .fa-stack-2x {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .fa-stack-1x {
      line-height: inherit;
  }

  .fa-stack-2x {
      font-size: 2em;
  }

  .fa-inverse {
      color: #ffffff;
  }



  .fa-search:before {
      content: '\f000';
  }

  .fa-star:before {
      content: '\f001';
  }

  .fa-user:before {
      content: '\f002';
  }

  .fa-check:before {
      content: '\f003';
  }

  .fa-times:before {
      content: '\f004';
  }

  .fa-home:before {
      content: '\f005';
  }

  .fa-comment:before {
      content: '\f006';
  }

  .fa-chevron-up:before {
      content: '\f007';
  }

  .fa-phone:before {
      content: '\f008';
  }

  .fa-twitter:before {
      content: '\f009';
  }

  .fa-bars:before {
      content: '\f00a';
  }

  .fa-envelope:before {
      content: '\f00c';
  }

  .fa-facebook-official:before {
      content: '\f00e';
  }

  .fa-546454:before {
      content: '\f00f';
  }

  .fa-phone-bts:before {
      content: '\f015';
  }

  .fa-envelope-bts:before {
      content: '\f016';
  }

  .fa-map-marker:before {
      content: '\f017';
  }

  .fa-bookmark:before {
      content: '\f018';
  }

  .fa-shopping-cart:before {
      content: '\f019';
  }

  .fa-arrow-alt-circle-up:before {
      content: '\f01b';
  }

  .fa-line:before {
      content: '\f01c';
  }

  .fa-arrow-up:before {
      content: '\f01d';
  }

  .fa-arrow-up-fas:before {
      content: '\f01e';
  }

  .fa-times-circle:before {
      content: '\f01f';
  }

  .fa-caret-square-right:before {
      content: '\f020';
  }

  .fa-caret-square-left:before {
      content: '\f021';
  }

  .fa-search-glyphicon:before {
      content: '\f022';
  }

  .fa-fax:before {
      content: '\f023';
  }

  .fa-caret-right:before {
      content: '\f024';
  }

  .fa-caret-left:before {
      content: '\f025';
  }

  .fa-facebook:before {
      content: '\f026';
  }

  .fa-facebook-square:before {
      content: '\f027';
  }

  .fa-flask:before {
      content: '\f028';
  }

  .fa-chevron-circle-up:before {
      content: '\f02a';
  }

  .fa-whatsapp:before {
      content: '\f02b';
  }

  .fa-angle-double-up:before {
      content: '\f02c';
  }

  .fa-angle-left:before {
      content: '\f02d';
  }

  .fa-angle-right:before {
      content: '\f02e';
  }

  .fa-minus-circle:before {
      content: '\f02f';
  }

  .fa-minus-circle-outline:before {
      content: '\f030';
  }

  .fa-plus-circle-outline:before {
      content: '\f031';
  }

  .fa-plus-circle:before {
      content: '\f032';
  }

  .fa-search-plus:before {
      content: '\f033';
  }

  .fa-long-arrow-right:before {
      content: '\f034';
  }

  .fa-trending-flat:before {
      content: '\f035';
  }

  .fa-zoom-in:before {
      content: '\f036';
  }

  .fa-zoom-in-outline:before {
      content: '\f037';
  }

  .fa-social-youtube:before {
      content: '\f039';
  }

  .fa-location-outline:before {
      content: '\f03a';
  }

  .fa-location:before {
      content: '\f03b';
  }

  .fa-minus-outline:before {
      content: '\f03c';
  }

  .fa-minus:before {
      content: '\f03d';
  }

  .fa-plus-outline:before {
      content: '\f03e';
  }

  .fa-plus:before {
      content: '\f03f';
  }

  .fa-map-pin:before {
      content: '\f043';
  }

  .fa-map-marker-btl:before {
      content: '\f044';
  }

  .fa-long-arrow-right-btm:before {
      content: '\f045';
  }

  .fa-minus-circle-btm:before {
      content: '\f046';
  }

  .fa-plus-circle-btm:before {
      content: '\f047';
  }

  .fa-search-plus-btm:before {
      content: '\f048';
  }

  .fa-search-minus:before {
      content: '\f049';
  }

  .fa-search-btm:before {
      content: '\f04a';
  }

  .fa-location-pin:before {
      content: '\f04b';
  }

  .fa-shopping-bag:before {
      content: '\f04c';
  }

  .fa-trash:before {
      content: '\f04d';
  }

  .fa-trash-fa:before {
      content: '\f04e';
  }

  .fa-user-circle:before {
      content: '\f04f';
  }

  .fa-user-far:before {
      content: '\f050';
  }

  .fa-trash-alt:before {
      content: '\f051';
  }

  .fa-compass:before {
      content: '\f052';
  }

  .fa-clock:before {
      content: '\f053';
  }

  .fa-compass-fas:before {
      content: '\f054';
  }

  .fa-grav:before {
      content: '\f055';
  }

  .fa-eercast:before {
      content: '\f056';
  }

  .fa-shopping-bag-fa:before {
      content: '\f057';
  }

  .fa-shopping-basket:before {
      content: '\f058';
  }

  .fa-facebook-f:before {
      content: '\f059';
  }

  .fa-trash-alt-fas:before {
      content: '\f05a';
  }

  .fa-times-circle-fas:before {
      content: '\f05b';
  }

  .fa-space-shuttle:before {
      content: '\f05c';
  }

  .fa-cart:before {
      content: '\f05d';
  }

  .fa-cart-outline:before {
      content: '\f05e';
  }

  .fa-shopping:before {
      content: '\f05f';
  }

  .fa-silverware:before {
      content: '\f060';
  }

  .fa-diff-added:before {
      content: '\f061';
  }

  .fa-diff-removed:before {
      content: '\f062';
  }

  .fa-quote:before {
      content: '\f063';
  }

  .fa-zoom-in-oi:before {
      content: '\f064';
  }

  .fa-zoom-out:before {
      content: '\f065';
  }

  .fa-shopping-cart-typcn:before {
      content: '\f066';
  }

  .fa-social-facebook-circular:before {
      content: '\f067';
  }

  .fa-angle-down:before {
      content: '\f068';
  }

  .fa-chevron-small-down:before {
      content: '\f069';
  }

  .fa-usd:before {
      content: '\f06a';
  }

  .fa-coin:before {
      content: '\f06b';
  }

  .fa-shopping-cart-mdi:before {
      content: '\f06c';
  }

  .fa-money:before {
      content: '\f06d';
  }

  .fa-wallet:before {
      content: '\f06e';
  }

  .fa-long-arrow-left:before {
      content: '\f06f';
  }

  .fa-user-circle-o:before {
      content: '\f070';
  }

  .fa-user-circle-fa:before {
      content: '\f071';
  }

  .fa-angles-up:before {
      content: '\f072';
  }

  .fa-user-circle-fas:before {
      content: '\f073';
  }

  .fa-skip-next:before {
      content: '\f074';
  }

  .fa-skip-previous:before {
      content: '\f075';
  }

  .fa-arrow-right-outline:before {
      content: '\f076';
  }

  .fa-arrow-left-outline:before {
      content: '\f077';
  }

  .fa-arrow-up-outline:before {
      content: '\f078';
  }

  .fa-chevron-right-outline:before {
      content: '\f079';
  }

  .fa-chevron-left-outline:before {
      content: '\f07a';
  }

  .fa-v-card:before {
      content: '\f07b';
  }

  .fa-tencent-weibo:before {
      content: '\f07c';
  }

  .fa-codepen:before {
      content: '\f07d';
  }

  .fa-id-card-o:before {
      content: '\f07e';
  }

  .fa-arrow-right:before {
      content: '\f07f';
  }

  .fa-toggle-switch-off:before {
      content: '\f080';
  }

  .fa-center-focus-strong:before {
      content: '\f081';
  }

  .fa-center-focus-weak:before {
      content: '\f082';
  }

  .fa-instagram:before {
      content: '\f083';
  }

  .fa-weixin:before {
      content: '\f084';
  }

  .fa-weibo:before {
      content: '\f085';
  }

  .fa-world:before {
      content: '\f086';
  }

  .fa-tools:before {
      content: '\f087';
  }


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}
