/* 共通 css開始  */
html{
    overflow-x: hidden;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
    overflow-x: hidden;
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

a img{
	border:none;
}
:focus{
    outline: none;
}

/* sass */
:root{
    --gs_content_0001_color_0001:#fff;


    --gs_content_0001_fontSize_0001:1.4em;
    --gs_content_0001_fontSize_0002:0.8em;
    --gs_content_0001_fontSize_0003:1.2em;

    --gs_content_0001_borderWeidth_0001:0 0 1px 0;
    --gs_content_0001_borderWeidth_0002:0 0 51px 18px;
    --gs_content_0001_borderWeidth_0003:50px 18px 0 0;
    --gs_content_0001_borderColor_0001:#bfbfbf;
    --gs_content_0001_borderColor_0002:transparent transparent red transparent;
    --gs_content_0001_borderColor_0003:red transparent transparent transparent;
    --gs_content_0001_borderStyle_0001:solid;


    --gs_content_0001_backgroundColor_0001:#ffe5e5;
    --gs_content_0001_backgroundColor_0002:#ddd;
    --gs_content_0001_backgroundColor_0003:#666;
    --gs_content_0001_backgroundColor_0004:red;
}
/* sass */
#main_page{
    padding: 30px 0 180px 0;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    min-height: 600px;
}

@media(max-width: 767px){
    #main_page{
        min-height: auto;
    }
}
#news_content_title{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #000;
    border-bottom: 1px solid #bfbfbf; */
    margin-bottom: 20px;
    /* font-size: 1.4em; */
    font-weight: 600;
    font-size: var(--gs_content_0001_fontSize_0001);
    border-width: var(--gs_content_0001_borderWeidth_0001);
    border-color: var(--gs_content_0001_borderColor_0001);
    border-style: var(--gs_content_0001_borderStyle_0001);

}
#news_content_date{
    padding: 6px 6px;
    /* background: #ffe5e5;
    font-size: 0.8em; */
    background: var(--gs_content_0001_backgroundColor_0001);
    font-size: var(--gs_content_0001_fontSize_0002);


}
.htmleditor{
    overflow-x: hidden;
    word-break: break-all;
}

.htmleditor p{
    line-height: 3rem;
}
#product_content_right_wrap .htmleditor{
    overflow-y: auto;
}

#product_content_right_wrap .htmleditor::-webkit-scrollbar {
  width: 5px;
}
 
#product_content_right_wrap .htmleditor::-webkit-scrollbar-track {
  /* background: #ddd; */
  background: var(--gs_content_0001_backgroundColor_0002);

}
 
#product_content_right_wrap .htmleditor::-webkit-scrollbar-thumb {
  /* background: #666;  */
  background: var(--gs_content_0001_backgroundColor_0003);

}
#news_content_content{
    min-height: 600px;
}

@media(max-width:480px){
    #news_content_content{
        min-height: 250px;
    }
}
.back_button{
    display: inline-block;
    /* color: #fff; */
    font-weight: 600;
    /* font-size: 1.2em; */
    position: relative;
    padding: 15px 80px 15px 15px;
    /* background: red; */
    margin: 0 18px 15px 0;
    color: var(--gs_content_0001_color_0001);
    font-size: var(--gs_content_0001_fontSize_0003);
    background: var(--gs_content_0001_backgroundColor_0004);

}

.back_button span{
   transition: all 0.4s ease-in-out; 
}

.back_button i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 2em;
    transition: all 0.4s ease-in-out;
}

.back_button:before{
    width: 0;
    height: 0;
    /* border-style: solid;
    border-width: 0 0 51px 18px;
    border-color: transparent transparent red transparent; */
    position: absolute;
    top: 0;
    left: -18px;
    content: '';
    z-index: -1;
    border-width: var(--gs_content_0001_borderWeidth_0002);
    border-color: var(--gs_content_0001_borderColor_0002);
    border-style: var(--gs_content_0001_borderStyle_0001);

}

.back_button:after{
    width: 0;
    height: 0;
    /* border-style: solid; */
    /* border-width: 50px 18px 0 0; */
    /* border-color: red transparent transparent transparent; */
    position: absolute;
    top: 0;
    right: -18px;
    content: '';
    z-index: -1;
    border-width: var(--gs_content_0001_borderWeidth_0003);
    border-color: var(--gs_content_0001_borderColor_0003);
    border-style: var(--gs_content_0001_borderStyle_0001);
}

.back_button:hover{
    opacity: 0.7;
}

.back_button:hover span{
    /* color: #fff; */
    color: var(--gs_content_0001_color_0001);

}

.back_button:hover i{
    right: 5px;
    /* color: #fff; */
    color: var(--gs_content_0001_color_0001);

}
#back_button_wrap{
    margin-top: 25px;
    text-align: right;
}

@media(max-width: 767px){
    #back_button_wrap{
        text-align: center;
    }
}