/* 共通 css開始  */
html{
    overflow-x: hidden;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
    overflow-x: hidden;
    background-color: #bfbfbf;
    height: 150vh;
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

a img{
	border:none;
}
:focus{
    outline: none;
}

/* sass */
:root{

    --gs_footer_0001_color_0001:#fff;
    --gs_footer_0001_color_0002:#000;
    --gs_footer_0001_color_0003:rgba(0,0,0,0.7);


    --gs_footer_0001_fontSize_0001:1.2em;
    --gs_footer_0001_fontSize_0002:2.4em;


    --gs_footer_0001_backgroundColor_0001:red;
    --gs_footer_0001_backgroundColor_0002:#000;



}
/* sass */

/*
#foot_wrap{
    padding-top: 150px;
}

@media(max-width: 499px){
    #foot_wrap{
        padding-top: 80px;
    }
}
*/
#foot_top_wrap{
    width: 100%;
    padding: 15px 0;
    /* background: red; */
    display: inline-block;
    background: var(--gs_footer_0001_backgroundColor_0001);

}

@media(max-width: 499px){
    #foot_top_wrap{
        padding: 40px 0 15px 0;
    }
}

#foot_top_content{
    position: relative;
    padding-top: 5px;
    text-align: right;
}

@media(max-width: 991px){
    #foot_top_content{
        padding-top: 50px;
        text-align: center;
    }
}

@media(max-width: 499px){
    #foot_top_content{
        padding-top: 20px;
    }
}

@media(max-width: 457px){
    #foot_top_content{
        padding-top: 0px;
    }
}

#foot_logo{
    position: absolute;
    top: -50%;
    left: 0;
    transform: translateY(-50%);
    width: 450px;
}

@media(max-width: 991px){
    #foot_logo{
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@media(max-width: 499px){
    #foot_logo{
        width: 200px;
    }
}

.foot_top_row{
    text-align: left;
    display: inline-block;
}

.foot_top_title{
    padding-right: 15px;
    /* color: #fff;
    font-size: 1.2em; */
    margin: 5px 0;
    font-size: var(--gs_footer_0001_fontSize_0001);
    color: var(--gs_footer_0001_color_0001);
}

.foot_top_row:last-child .foot_top_title{
    padding: 0;
}

.foot_top_title a{
    display: inline-block;
    /* color: #fff; */
    transition: all 0.4s ease-in-out;
    color: var(--gs_footer_0001_color_0001);

}

.foot_top_title a:hover{
    opacity: 0.7;
}

#foot_bottom_wrap{
    padding: 15px 0 10px 0;
    text-align: center;
    /* color: #fff; */
    /* background: #000; */
    color: var(--gs_footer_0001_color_0001);
    background: var(--gs_footer_0001_backgroundColor_0002);


}

.foot_bottom_row{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 5px;
}

.foot_bottom_row:last-child{
    padding: 0;
}

@media(max-width:579px){
    .foot_bottom_row{
        padding: 0;
    }
}

#geyes_link{
    /* color: #fff; */
    transition: all 0.4s ease-in-out;
    color: var(--gs_footer_0001_color_0001);

}

#geyes_link:hover{
    /* color: #fff; */
    opacity: 0.6;
    color: var(--gs_footer_0001_color_0001);

}

#top_button{
    position: fixed;
    bottom: 150px;
    right: 15px;
    /* color: #000; */
    z-index: 9999999;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    color: var(--gs_footer_0001_color_0002);

}

@media(max-width: 991px){
    #top_button{
        bottom: 60px;
    }
}

@media(max-width: 579px){
    #top_button{
        bottom: 80px;
    }
}

@media(max-width: 389px){
    #top_button{
        bottom: 105px;
    }
}

#top_button i{
    /* font-size: 2.4em; */
    font-size: var(--gs_footer_0001_fontSize_0002);

}

#top_button:hover{
    /* color: rgba(0,0,0,0.7); */
    color: var(--gs_footer_0001_color_0003);

}