/* 共通 css開始  */
html{
    overflow-x: hidden;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
    overflow-x: hidden;
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

a img{
	border:none;
}
:focus{
    outline: none;
}

/* sass */
:root{

    --gs_ilist_0001_color_0001:#333;
    --gs_ilist_0001_color_0002:red;
    --gs_ilist_0001_color_0003:#000;


    --gs_ilist_0001_fontSize_0001:3em;
    --gs_ilist_0001_fontSize_0002:1.4em;
    --gs_ilist_0001_fontSize_0003:1.3em;
    --gs_ilist_0001_fontSize_0004:1.2em;
    --gs_ilist_0001_fontSize_0005:2em;

    --gs_ilist_0001_borderWeidth_0001:0 0 1px 0;
    --gs_ilist_0001_borderColor_0001:#bfbfbf;
    --gs_ilist_0001_borderStyle_0001:solid;


    --gs_ilist_0001_backgroundColor_0001:#ffe5e5;


}
/* sass */

#index_news_wrap{
    width: 100%;
    padding: 30px;
}

@media(max-width: 767px){
    #index_news_wrap{
        width: 100%;
    }
}

#index_news_title{
    /* font-size: 3em; */
    font-weight: 600;
    text-align: center;
	font-family: "cwTeXKai";
    font-size: var(--gs_ilist_0001_fontSize_0001);
}

@media(max-width: 600px){
    #index_news_title{
        /* font-size: 1.4em; */
        font-size: var(--gs_ilist_0001_fontSize_0002);

    }
}

#index_news_title a{
    display: inline-block;
    transition: all 0.4s ease-in-out;
    /* color: #333; */
	font-family: "cwTeXKai";
    color: var(--gs_ilist_0001_color_0001);

}

#index_news_title a:hover{
    color: red;
    color: var(--gs_ilist_0001_color_0002);

}

.index_news_list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    /* border-bottom: 1px solid #bfbfbf;
    font-size: 1.3em;
    color: #000; */
    font-weight: 600;

    font-size: var(--gs_ilist_0001_fontSize_0003);
    color: var(--gs_ilist_0001_color_0003);
    border-width: var(--gs_ilist_0001_borderWeidth_0001);
    border-color: var(--gs_ilist_0001_borderColor_0001);
    border-style: var(--gs_ilist_0001_borderStyle_0001);
}

.index_news_list_date{
    padding: 6px 6px;
    /* background: #ffe5e5; */
    background: var(--gs_ilist_0001_backgroundColor_0001);

}

.index_news_list_title{
    padding: 0 10px;
    transition: all 0.4s ease-in-out;
    /* font-size: 1.2em; */
    font-size: var(--gs_ilist_0001_fontSize_0004);

}

.index_news_list:hover .index_news_list_date{
    /* color: #000; */
    color: var(--gs_ilist_0001_color_0003);

}

.index_news_list:hover .index_news_list_title{
    /* color: red; */
    transform: translateX(10px);
    color: var(--gs_ilist_0001_color_0002);

}

.index_news_list:last-child{
    border-bottom: none;
}

.more_button3{
    display: inline-block;
    /* color: #000; */
    font-weight: 600;
    /* font-size: 1.2em; */
    position: relative;
    padding-right: 40px;
    color: var(--gs_ilist_0001_color_0003);
    font-size: var(--gs_ilist_0001_fontSize_0004);


}

.more_button3 span{
   transition: all 0.4s ease-in-out; 
}

.more_button3 i{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    /* font-size: 2em; */
    transition: all 0.4s ease-in-out;
    font-size: var(--gs_ilist_0001_fontSize_0005);

}

.more_button3:hover span{
    /* color: red; */
    opacity: 0.7;
    color: var(--gs_ilist_0001_color_0002);

}

.more_button3:hover i{
    right: -10px;
    /* color: red; */
    color: var(--gs_ilist_0001_color_0002);

}