/* 共通 css開始  */
html{
    overflow-x: hidden;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
    overflow-x: hidden;
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

a img{
	border:none;
}
:focus{
    outline: none;
}

/* sass */
:root{

    --gs_navi_0001_color_0001:#000;
    --gs_navi_0001_color_0002:red;


    --gs_navi_0001_fontSize_0001:1.4em;
    --gs_navi_0001_fontSize_0002:2em;
    --gs_navi_0001_fontSize_0003:1.2em;

    --gs_navi_0001_borderWeidth_0001:1px;
    --gs_navi_0001_borderColor_0001:#966c27;
    --gs_navi_0001_borderStyle_0001:solid;


    --gs_navi_0001_backgroundColor_0001:#fff;
    --gs_navi_0001_backgroundColor_0002:#f5f5f5;

}
/* sass */
#main_page{
    padding: 30px 0 180px 0;
    z-index: 2;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    min-height: 600px;
}

@media(max-width: 767px){
    #main_page{
        min-height: auto;
    }
}

#product_navi_wrap{
    width: 100%;
    padding: 30px;
    box-shadow: 4px 4px 10px 2px #bfbfbf;
}

@media(max-width: 767px){
    #product_navi_wrap{
        box-shadow: none;
        padding: 5px 0px;
        display: none;
        /* background: #fff; */
        background: var(--gs_navi_0001_backgroundColor_0001);

    }
}

.product_navi{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    /* color: #000;
    background: #f5f5f5;
    font-size: 1.4em; */
    font-size: var(--gs_navi_0001_fontSize_0001);
    color: var(--gs_navi_0001_color_0001);
    background: var(--gs_navi_0001_backgroundColor_0002);

}

.product_navi i{
    /* font-size: 2em; */
    text-align: center;
    font-size: var(--gs_navi_0001_fontSize_0002);

}

.product_navi:hover{
    /* color: red; */
    color: var(--gs_navi_0001_color_0002);

}

.product_navi.active{
    /* color: red; */
    color: var(--gs_navi_0001_color_0002);

}
.product_navi2_wrap{
    margin-bottom: 15px;
    padding: 0 5px;
    display: none;
}
.product_navi2{
    padding: 4px 0;
    /* font-size: 1.2em; */
    /* color: #000; */
    font-size: var(--gs_navi_0001_fontSize_0003);
    color: var(--gs_navi_0001_color_0001);

    display: inline-block;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
.product_navi2:hover{
    /* color: red; */
    color: var(--gs_navi_0001_color_0002);

}

.product_navi2.active{
    /* color: red; */
    color: var(--gs_navi_0001_color_0002);

}