/* 共通 css開始  */
html{
    overflow-x: hidden;
}
body{
	font-family: "微軟正黑體";
	line-height: 1.5em;
	margin:0;
    overflow-x: hidden;
}

a{
	text-decoration:none;
	outline: none;
	hlbr:expression(this.onFocus=this.blur());		
}

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}

a img{
	border:none;
}
:focus{
    outline: none;
}

/* sass */
:root{

    --gs_single_item_0003_color_0001:#fff;

    --gs_single_item_0003_fontSize_0001:1.8em;
    --gs_single_item_0003_fontSize_0002:1.3em;
    --gs_single_item_0003_fontSize_0003:2em;

    --gs_single_item_0003_backgroundColor_0001:rgba(0,0,0,0.4);
    --gs_single_item_0003_backgroundColor_0002:red;


}
/* sass */
#index_bottom_info_area{
    display: flex;
    width: 100%;
}

@media(max-width: 767px){
    #index_bottom_info_area{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}
#index_map_wrap{
    width: 100%;
    margin-bottom: 140px;
}

@media(max-width:767px){
    #index_map_wrap{
        width: 100%;
    }
}

@media(max-width:480px){
    #index_map_wrap{
        margin-bottom: 80px;
    }
}

#index_map_block{
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
}

@media(max-width:767px){
    #index_map_block{
        border-radius: 0;
    }
}

@media(max-width:480px){
    #index_map_block{
        height: 250px;
    }
}

#index_map_block iframe{
    width: 100%;
    height: 100%;
}

#index_map_mark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,0.4); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease-out;
    z-index: 9;
    padding-bottom: 50px;
    background: var(--gs_single_item_0003_backgroundColor_0001);

}

@media(max-width: 480px){
    #index_map_mark{
        padding-bottom: 12px;
    }
}

#index_map_mark_title{
    /* font-size: 1.8em; */
    /* color: #fff; */
    font-weight: 600;
    font-size: var(--gs_single_item_0003_fontSize_0001);

    color: var(--gs_single_item_0003_color_0001);

}

#map_logo{
    width: 250px;
}

#index_map_mark_link{
    position: relative;
    padding: 15px 70px 15px 15px;
    /* font-size: 1.3em;
    color: #fff;
    background: red; */
    transition: all 0.4s ease-out;
    font-size: var(--gs_single_item_0003_fontSize_0002);
    color: var(--gs_single_item_0003_color_0001);
    background: var(--gs_single_item_0003_backgroundColor_0002);
}

#index_map_mark_link i{
    /* font-size: 2em; */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;
    font-size: var(--gs_single_item_0003_fontSize_0003);
}

#index_map_mark_link:hover{
    opacity: 0.7;
}

#index_map_mark_link:hover i{
    right: 5px;
}

#index_map_wrap:hover #index_map_mark{
    opacity: 0;
    visibility: hidden;
}

#index_map_mark_link2{
    position: absolute;
    padding: 15px 70px 15px 15px;
    /* font-size: 1.3em;
    color: #fff;
    background: red; */
    transition: all 0.4s ease-out;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--gs_single_item_0003_fontSize_0002);
    color: var(--gs_single_item_0003_color_0001);
    background: var(--gs_single_item_0003_backgroundColor_0002);
}

@media(max-width: 480px){
    #index_map_mark_link2{
        bottom: 12px;
    }
}

#index_map_mark_link2 i{
    /* font-size: 2em; */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;
    font-size: var(--gs_single_item_0003_fontSize_0003);

}

#index_map_mark_link2:hover{
    opacity: 0.7;
}

#index_map_mark_link:hover i{
    right: 5px;
}

#map_logo.animation{
    animation-name: animation5;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
}

#index_map_mark_title.animation{
    animation-name: animation5;
    animation-duration: 2.6s;
    animation-timing-function: ease-out;
}

@keyframes animation6{
	from {transform: translate(0, 40px);opacity: 0;}
    to {transform: none;opacity: 1;}
}

#index_map_mark_link.animation{
    animation-name: animation6;
    animation-duration: 2.1s;
    animation-timing-function: ease-out;
}

@keyframes animation7{
	from {transform: translate(-50%, 40px);opacity: 0;}
    to {transform: translate(-50%, 0);opacity: 1;}
}

#index_map_mark_link2.animation{
    animation-name: animation7;
    animation-duration: 2.1s;
    animation-timing-function: ease-out;
}