body{
    /* height: 300vh; */
}
.headerBlock{
    padding: 20px 40px;
    position: relative;
}

.header{
    max-width: 1400px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.headerCompanyBlock{
    display: flex;
    /* align-items: center; */
}
.headerCompanyName{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
    color: #5F411A;


}
.headerCompanyMainName{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
}
.headerCompanySubName{
    font-size: 12px;
    letter-spacing: 1px;
}
.navbarBlockBig{
    /* display: none; */
    margin-top: 10px;

}

.navbarMain{
    display: flex;
    margin-left: 10px;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
.navbarItem{
    font-size: 15px;
    margin: 0 10px;
    padding-bottom: 2px;
    color: #5F411A;
}
.navbarItem:visited{
    color: #5F411A;
}
.navbarItem:hover{
    border-bottom: 1px solid #5F411A;
}
.otherBar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 40px;
}
.searchBlock{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;

}
.searchBlock input{
    height: 24px;
}
.searchIcon{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    padding: 12px;
}
/* .searchBlock a{
    padding-top: 4px;
} */
.iconBlock{
    width: 20px;
    height: 20px;
    margin: 0 10px;

}
.headerIconBar{
margin-left: 90px;
}

.headerIconBar img{
    margin: 0 10px;
}

.nabarBlockMid{
    width: 100%;
    display: flex;
    /* background-color: tomato; */
    justify-content: space-around;
    padding: 10px 0;
}
.navbarBlockRWD{
    margin-left: auto;
    display: none;
}
.navbarList{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #5F411A;

}
.navbarItemGroup{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: -3000px;
    background-color: rgb(231, 231, 192);
    opacity: 0;
    transition: 2s;
    overflow:auto;
    z-index: 100;
}
.navbarItemGroup::-webkit-scrollbar{
    width: 0px;
}
.show{
    left:0;
    opacity: 1;
}
.navbarItemRWD{
    font-size: 18px;    
    letter-spacing: 2px;
    padding: 10px;
    color: #5F411A;
    border-bottom: 1px solid #5F411A;
    display: flex;
    
}
.navbarItemOtherRWD{
    font-size: 18px;    
    letter-spacing: 2px;
    padding: 10px;
    color: #5F411A;
    border-bottom: 1px solid #5F411A;
    display: flex;
}
.navbarItemOtherRWD img{
    cursor: pointer;
}
.navbarItemRWD:hover{
    background-color: #5F411A;
    color: white;
}
.closeButton{
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 28px;
    color: red;
    cursor: pointer;
}
@media(max-width:1500px){
    .navbarBlockBig{
        width: 100%;
        margin-top: 10px;
    }
    .navbarItem{
        margin: 0 5px;
        font-size: 18px;
    }
    .otherBar{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 40px;
    }
}


@media (max-width:1200px){
    .headerIconBar{
        margin-left: 40px;
        }
}

@media (max-width:997px){
.navbarBlockBig{
    display: none;
}
.otherBar{
    display: none;
}
.navbarBlockRWD{
    display: block;
}
.headerIconBar{
    margin-left: 0px;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.headerIconBar i{
    margin: 0 10px;
    line-height: unset;
}
.iconBlock{
    width: 30px;
    height: 30px;
}
.iconBackground{
    width: 26px;
    height: 26px;
    padding-left: 1px;
    background-color: #5F411A;
    color: #E7E7C0;
    border-radius: 50%;
    font-size: 14px;
    line-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
}
@media (max-width:768px){

}
@media (max-width:576px){
    .headerBlock{
        padding: 20px 10px;
    }
    .header{
        flex-wrap: unset;
    }
    .headerCompanyLogo img{
        width: 50px;
    }
    .headerCompanyMainName{
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bolder;
    }
    .headerCompanySubName{
        font-size: 12px;
        letter-spacing: 1px;
    }

}
@media (max-width:376px){
    
}
.topButton{
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
    padding: 30px;
    border-radius: 50%;
    background-image: url(../img/topButton.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 20px;
    bottom:20px;
    z-index: 10;
}
.topButton::after{
    content: "TOP";
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
    font-size: 12px;
    letter-spacing: 1px;
    color: #E16C69;
}
