


.bannerBlock .slick-next{
    clear: both;
}
/* 框架和共通設定 */
.blockTitle{
    width: 250px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 2px;
    border-bottom: 1px dotted #5F411A;
    margin: auto;
    margin-bottom: 30px;
    color: #5F411A;

}
.blockContentXL{
    width: 100%;
}
.blockContentLG{
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* slider 前後頁按鈕 */
.slick-next:before{
    content: "";
    display: block;
    background-image: url(../img/arrowRight.png);
    background-repeat: no-repeat;
    background-size:10px;
    background-position: center;
    padding: 12px;
    border: 1px solid #5F411A;

}
.slick-prev:before{
    content: "";
    display: block;
    background-image: url(../img/arrowLeft.png);
    background-repeat: no-repeat;
    background-size:10px;
    background-position: center;
    padding: 12px;
    border: 1px solid #5F411A;

}
.slick-dots li button:before{
    font-size: 40px;
    color: #8B7762;
    content: "○";
}
.slick-dots li.slick-active button:before{
    color: #8B7762;
    content: "●";
}

/* banner 橫幅區 */

.bannerBlock{
    width: 100%;
}
.bannerItem{
    width: 100%;
    display: block !important;
}
.bannerItem img{
    width: 100%;
}
.bannerBlock .slick-next{
    right: 20px;
}
.bannerBlock .slick-prev{
    left: 20px;
    z-index: 99;
}
.bannerBlock .slick-next:before{
    background-size:24px;
    border: 0;
}
.bannerBlock .slick-prev:before{
    background-size:24px;
    border: 0;
}

/* about 關於美甲美睫沙龍 */
.aboutBlock{
    padding: 50px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    /* margin-top: 50px; */
}
.blockMainTitle{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: #5F411A;
}
.blockSubTitle{
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 2px;
}
.aboutContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* about課程項目 */
.aboutItem{
    width: 30%;
    position: relative;
    background-color: white;
    z-index: 2;

}
.aboutImgBlock{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.aboutImgBlock img{
    width: 100%;
}
.aboutdetail{
    width: 100%;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(148, 148, 148);
}
.detailBlock{
    margin-bottom: 10px;
}
/* 課程介紹黃色版本 */
.detailMainText{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #868475;
    font-weight: bolder;
}
.detailSubText{
    font-size: 12px;
    letter-spacing: 1px;
    color: #E6D5B1;
}
.detailMoreButton{
    position: absolute;
    padding:60px 80px;
    right: -5px;
    bottom: -5px;
    background-image: url(../img/moreImg1.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreText{
    position: absolute;
    font-size: 18px;
    left: 20%;
    top: 33%;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 2px 1px 0px #B28135;
}

/* 課程介紹紅色版本 */
.detailMainTextRed{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #FF6962;
    font-weight: bolder;
}
.detailSubTextRed{
    font-size: 12px;
    letter-spacing: 1px;
    color: #FFC3B9;
}
.detailMoreButtonRed{
    position: absolute;
    padding:60px 90px;
    right: -30px;
    bottom: -25px;
    background-image: url(../img/moreImg2.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreTextRed{
    position: absolute;
    font-size: 18px;
    left: 30%;
    top: 37%;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 2px 1px 0px #FF6962;
}
.moreTextRedSm{
    position: absolute;
    font-size: 14px;
    left: 30%;
    top: 37%;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 2px 1px 0px #FF6962;
}
.moreText:visited{
    color: white;
}
.moreTextRed:visited{
    color: white;
}
.moreTextSm:visited{
    color: white;
}
.aboutPageButton{
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 120px;
    padding: 5px;
    border-bottom: 1px solid #5F411A;
    color: #5F411A;
    text-align: center;
}
.aboutPageButton:visited{
    color: #5F411A;

}
.detailMoreButtonSm{
    position: absolute;
    padding:40px 45px;
    left: 30%;
    top: 33%;
    background-image: url(../img/moreImg1.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    opacity: 0;
    transition: 1s;
}
.moreTextSm{
    position: absolute;
    font-size: 14px;
    left: 10%;
    top: 33%;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    text-shadow: 2px 1px 0px #B28135;
}
.detailMoreButtonRedSm{
    position: absolute;
    padding:40px 55px;
    left:20%;
    bottom: 25%;
    background-image: url(../img/moreImg2.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s;
}




/* 背景裝飾區 */
.aboutTitleBlock{
    background-image: url(../img/backgroundImg2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}
.backgroundDecoration{
    width: 100%;
}
.Decoration1{
    position: absolute;
    bottom: 10%;
    left: 0%;
    z-index: -22;
}
.Decoration2{
    position: absolute;
    bottom: 40%;
    left: 0%;
}
.Decoration3{
    position: absolute;
    top: -2%;
    right: -5%;
    width: 40%;
}
@media(max-width:1400px){
    .Decoration3{
        width: 50%;
    }
}
@media(max-width:769px){
    .Decoration3{
        width: 60%;
    }
    .Decoration1{
        bottom: 4%;
        left: -20%;
    }
}
@media(max-width:769px){
    .Decoration3{
        width: 80%;
    }
}
@media(max-width:1300px){
    .aboutBlock{
    }
    .detailMoreButton{
        right: 0%;
        bottom: -100px;
    }
    .detailMoreButtonRed{
        right: 0%;
        bottom: -100px;
    }
}
@media (max-width:997px){
    .aboutContent{
        flex-direction: column;
    }
    .aboutItem{
        width: 100%;
        display: flex;
        box-shadow: 2px 2px 10px rgb(148, 148, 148);
        margin-bottom: 20px;
        padding: 5px;

    }
    .aboutImgBlock{
        width: 30%;
        min-height: 200px;
        margin: 0;
        display: flex;
        align-items: center;

    }
    .aboutImgBlock img{
        object-fit: cover;
        min-width: 150px;
        min-height: 200px;
    }
    .aboutdetail{
        width: 70%;
        box-shadow: unset;
    }
    .detailMoreButton{
        padding:50px 65px;
        background-size: 130px;
        right: 0%;
        bottom: 0px;
    }
    .detailMoreButtonRed{
        padding:60px 80px;
        background-size: 160px;
        right: -5%;
        bottom:-8%;
    }
    .aboutPageButton{
        margin-top: 50px;
    }
    
}
@media (max-width:576px){
    .aboutBlock{
        padding: 20px;
    }
    .blockSubTitle{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .aboutdetail{
        padding: 10px 0;
    }
    .detailBlock{
        margin-left: 70px;
    }
    .detailMainText{
        font-size: 14px;
    }
    .detailMainTextRed{
        font-size: 14px;
    }
    .detailMoreButton{
        display: none;
    }
    .detailMoreButtonRed{
        display: none;
    }
    .aboutItem:hover .detailMoreButtonSm{
        opacity: 1;
    }
    .aboutItem:hover .detailMoreButtonRedSm{
        opacity: 1;
    }
}

/* workShow 作品欣賞區 */
.workShowBlock{

}
.workShowSliderBlock{
    position: relative;
}
.riverDecoration{
    background-image: url(../img/workShowMywhite5.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    pointer-events: none;
}

.workShowItem{
    position: relative;
}
.workShowItem img{
    width: 100%;
    /* height: 69.3vh; */
    /* height: 600px; */
}
.workContentBlock{
    position: absolute;
    /* bottom: 100px; */
    bottom: 20%;
    left: 20px;
}
.workName{
    margin: 20px;
    font-size: 24px;
    color: white;
    margin-left: auto;
    font-weight: bolder;
}
.workMoreButton{
    padding: 10px 40px;
    background-color: #F0CD8B;
    color: white;
}
.workMoreButton:hover{
    background-color: #B87C33;
    color: white;
}
.workMoreButton:visited{
    color: white;
}

/* story 故事區域 */
.storyBlock{
    padding: 50px;
}
/* storySlider區域 */

.storySliderBlock{
    width: 50%;
    padding: 50px;
}
.storySliderContent{
    width: 100%;
}
.stroyItemImg{
    width: 100%;
}
.stroyItemImg img{
    width: 100%;
    padding: 0 20px;
    max-height: 300px;
    object-fit: contain;
}


/* storyContent 內容區 */
.storyContent{
    width: 50%;
    padding: 50px 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.storyMainTitle{
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;
}
.storySubTitle{
    color: #5F411A;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.storyText{
    letter-spacing: 5px;
    line-height: 30px;
}
@media (max-width:997px){
    .storySliderBlock{
        width: 100%;
    }
    .storyContent{
        width: 100%;
    }
    
}
@media (max-width:768px){
    .storyBlock{
        padding: 20px;
    }
    .storySliderBlock{
        padding: 20px;
    }
    .storyContent{
        padding: 20px 0px;
    }
    .slick-dots li button:before{
        font-size: 20px;
    }
}
@media (max-width:576px){
    .storyMainTitle{
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
    .storySubTitle{
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
    .storyText{
        font-size: 14px;
        letter-spacing: 5px;
        line-height: 20px;
    }
}

/* video區域 */
.videoItem{
    width: 100%;
    height: 600px;
    background-color: blue;
}


@media (max-width:997px){
    .videoItem{
        height: 400px;
    }
}
@media (max-width:768px){
    .videoItem{
        height: 300px;
    }
}
@media (max-width:576px){
    .videoItem{
        height: 200px;
    }

}
