* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F0F0F0;

}

.mainBlock {
    width: 1280px;
    display: flex;
    padding: 80px 85px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    color: #2EB738;
}

.base {
    width: 350px;
    height: 366px;
    /* background-color: rgb(136, 148, 226); */
    margin: 20px 0;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.upPart {
    display: flex;
    align-items: center;
}

.downPart {
    display: flex;
    align-items: center;
}

.lineStyle {
    width: 350px;
    height: 1px;
    background-color: #2EB738;
}

.upPart span {
    padding: 10px;
    font-size: 18px;
}

.downPart span {
    padding: 10px;
    font-size: 18px;

}

.mainPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maimTitle {
    font-size: 56px;
    font-family: 蘋方-繁, Medium;
    font-weight: bold;
}

.subtitleTitle {
    font-size: 24px;
    font-family: Helvetica Neue, Regular;
}

.ItemBlock {
    border-radius: 100px 0px 30px 0px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemTitle {
    width: 105px;
    height: 100px;
    /* background-color: burlywood; */
    margin: auto;
    margin-bottom: 30px;
    line-height: 110px;
    display: flex;
    justify-content: center;
    font-family: Helvetica Neue, Bold;
    font-weight: bold;

}

.itemTitle span {
    font-size: 128px;
    text-shadow: 4px 3px 0px #F0F0F0;
}

.leftBlock {
    margin-top: 8px;
}

.item {
    width: 105px;
    height: 33px;
    /* background-color: burlywood; */
    margin: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    letter-spacing: 10px;
    font-family: Helvetica Neue, Regular;
}

.bottomBlock {
    height: 34px;
    background-color: #2EB738;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBlock span {
    width: 1280px;
    text-align: right;
    padding: 0 85px;
    font-size: 16px;
    font-weight: 200;
}