*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue","蘋方-繁", sans-serif;
}
.Multiplication_Tables{
    padding: 80px 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F0F0F0;
}
.formList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #f0f0f0;
    
}
.Multiplication_title{
    width: 350px;
    margin-bottom: 40px;
}
.line{
    width: 80%;
    height: 1px;
    background-color: #2EB738;
    margin: 8px;    
}
.lineBlock span{
    color: #2EB738;
}
.Multiplication_content{
    width: 80%;
    margin: auto;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Multiplication_content p{
    text-align: center;
    font-size: 56px;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;

}
.Multiplication_content span{
    text-align: center;
    font-size: 23px;
    letter-spacing: 0px;
    color: #2EB738;
    opacity: 1;
    display: block;
}
.lineBlock{
    display: flex;
    justify-content: space-between;
}

.form_block{
    width: 350px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #D8D8D8;
    border-radius: 100px 0px 30px 0px;
    opacity: 1;
    margin-bottom: 40px;
}
.form_title{
    position: relative;
    font-size: 128px;
    font-weight: bold;
    color: #2eb738;
    line-height: 100px;
    text-align: center;
    -webkit-text-stroke: 1.5px #fff;
    text-shadow: 5px 4px 0px #f0f0f0;
    margin-bottom: 23px;
}
.form_content{
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 60px 20px;
    border-radius: 100px 0 30px 0;
}
.form_item{
    color: #2eb738;
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 33px;
}