body{
    margin: 0;
}
.box1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.bg_red{
    background-color: red;
}
.bg_blue{
    background-color: blue;
}
.bg_yellow{
    background-color: yellow;
}
.bg_green{
    background-color: teal;
}