.box1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}
.test1{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 30%;
    left: 10%;
    opacity: 0;

    transition: 0.5s;
}
.test1_show{
    opacity: 1;
}