/* banner */
.banner{
    width: 100%;
    height: 200px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.titleBlock{
    position: absolute;
    top: 30%;
    left: 5%;
}
.maintitle{
    font-size: 48px;
    color: white;
}
.subtitle{
    font-size: 24px;
    color: white;

}
.pagecontent{
    width: 100%;
    padding: 50px 200px;
    min-height: 400px;
    background-image: url(../img/page_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contentText{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(75, 75, 75);
}



@media (max-width:997px){
    .pagecontent{
    padding: 50px 50px;

    }
}
@media (max-width:768px){

}
@media (max-width:576px){
    .pagecontent{
        padding: 50px 10px;
    
        }
        .maintitle{
            font-size: 36px;
            color: white;
        }
        .subtitle{
            font-size: 24px;
            color: white;
        
        }

}
@media (max-width:376px){
    
}


.shoppingCartBlock{
    max-width: 1200px;
}
.searchBlock{
    margin-left: auto;
    width: 300px;
    border: 1px solid black;
}
.searchBlock input{
    border: 0;
    border-right: 1px solid black;
}
.searchBlock i{
    padding: 5px;
}
.shopList{
    width: 100%;
}
.shopListRow{
    border-bottom: 1px solid black;
    display: flex;
}
.shopListRow select{
    margin-left: 60px;
}
.productSort,.productprice,.productQuantity,.productTotal,.productDelete{
    width: 13%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.productTotalMain{
    width: 13%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.productImg{
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg img{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    
}
.productMainName{
    width: 25%;
    display: flex;
    align-items: center;
    /* padding-left: 50px; */
    padding: 20px;
}
.productName{
    width: 25%;
    display: flex;
    align-items: center;
}

.lowerButton i,.additon i{
    font-size: 16px;
    line-height: 24px;
}
.productQuantity input{
    width: 40px;
    margin: 0 10px ;
}
.priceTotal{
    text-align: right;
    padding: 20px 40px;
    font-size: 24px;
    color: #F2AD69;

}
.PScontent{
    font-size: 14px;
    color: #B6B6B6;
}

.shopNote{
    width: 100%;
    background-color: #dddddd;
    padding: 20px;
    margin-bottom: 50px;
}
.shopNoteTitle{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.shopItem{
    padding: 5px 0;
}


/* shopForm 收件人資訊表單 */
.shopForm{
    width: 100%;
}
.shopFormBlock{
    display: flex;
    justify-content: space-between;
}
.addresseeBlock{
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.payMethod{
    width: 48%;
    background-color: #FDE6C4;
    padding: 40px;


}
.addresseeTitle{
    width: 100%;
    background-color: #FDE6C4;
    text-align: center;
    padding: 5px 0;
    
}

.addresseeName{
    width: 48%;
    margin: 10px 0;
}
.addresseePhone{
    width: 48%;
    margin: 10px 0;

}
.addresseeEmail{
    width: 100%;
    margin-bottom: 10px;

}
.remarksTitle{
    width: 100%;
    margin-bottom: 10px;
}
#remarks{
    width: 100%;
}
.payMethodTitle{
    width: 60%;
    margin-left : auto;
    margin-bottom: 20px;
    font-weight: bolder;
}
.selectMethod{
    display: block;
    width: 60%;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: unset;
}

.shopMoneyTotal{
    text-align: right;
    font-size: 22px;
    color: red;
    font-weight: bolder;
    margin-bottom: 20px;

}
.submitButton{
    width: 200px;
    margin-left : auto;
    background-color: white;
    color: #525252;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 5px;

}
.submitButton:hover{
    background-color: brown;
    color: white;
}
.lastNote{
    text-align: right;
    color: #979797;
}


@media (max-width:769px){
    .shopFormBlock{
        flex-wrap: wrap;
    }
    .addresseeBlock{
        width: 100%;
        margin-bottom: 20px;
    }
    .payMethod{
        width: 100%;
    }
    .shopNoteContent{
        font-size: 14px;
    }
    .shopItem{
        font-size: 14px;
    }
    .lastNote{
        font-size: 12px;
    }
}