/* banner */
.banner{
    width: 100%;
    height: 200px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.titleBlock{
    position: absolute;
    top: 30%;
    left: 5%;
}
.maintitle{
    font-size: 48px;
    color: white;
}
.subtitle{
    font-size: 24px;
    color: white;

}
.pagecontent{
    width: 100%;
    padding: 50px 200px;
    min-height: 400px;
    background-image: url(../img/page_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contentText{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(75, 75, 75);
}



@media (max-width:997px){
    .pagecontent{
    padding: 50px 50px;

    }
}
@media (max-width:768px){

}
@media (max-width:576px){
    .pagecontent{
        padding: 50px 10px;
    
        }
        .maintitle{
            font-size: 36px;
            color: white;
        }
        .subtitle{
            font-size: 24px;
            color: white;
        
        }

}
@media (max-width:376px){
    
}





/* loctionBLock CSS */
.loctionBlock{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.loctionBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cityName{
    border: 1px solid #BADCD0;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px;
    margin: 5px;
}
.detailedBlock{
    border-top: 1px solid rgb(172, 172, 172);
    margin-top: 20px;
}
.detailedRow{
    display: flex;
    border-bottom: 1px solid rgb(172, 172, 172);

}
.loctionName{
    width: 30%;
}
.loctionPostion{
    width: 40%;
}
.loctionPhone{
    width: 20%;
}
.LoctionMap{
    width: 10%;
    text-align: center;

}
.LoctionMap i{
    color: red;

}
.loctionName,.loctionPostion,.loctionPhone,.LoctionMap{
    padding: 10px;
}
.loctionName,.loctionPostion,.loctionPhone{
    border-right: 1px solid rgb(172, 172, 172);
}

/* detailedBlockRWD CSS */
.detailedBlockRWD{
    display: none;
    margin-top: 20px;
}
.detailItem{
    margin-bottom: 30px;
    letter-spacing: 5px;
    display: flex;
    flex-wrap: wrap;
}
.detailItemTitle{
    width: 100%;
    border-top: 1px solid rgb(172, 172, 172)
}
.detailItemGroup{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    display: none;
}

.detailItemRow{
    display: flex;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.detailItemMainTitle{
    width: 35%;
    border-right: 1px solid rgb(172, 172, 172);
    padding: 5px;
}

.detailItemContent{
    padding: 5px 10px;
    width: 65%;
}

.detailItemContent i{
    margin-left: 20px;
    color: red;
}



@media(max-width:769px){
    .detailedBlock{
        display: none;
    }
    .detailedBlockRWD{
        display: block;
    }
    .loctionBlock{
        padding: 20px;
    }
    .detailItemMainTitle{
        width: 25%;
    }
    
    .detailItemContent{
        width: 75%;
    }
}

@media(max-width:576px){
    .detailItemMainTitle{
        width: 35%;
    }
    
    .detailItemContent{
        width: 65%;
    }

}



/* topSellersBlock CSS */

.topSellers{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.topSellersTitle{
    font-size: 48px;
    margin-bottom: 20px;
}
.topSellersSubTitle{
    width: 60%;
    border-bottom: 5px solid green;
    margin-bottom: 20px;
}
/* projectItem */
.productShowGroup{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.projectItem{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.projectImg{
    width: 100%;
    position: relative;
    background-color: violet;
}
.projectImg img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.projectName{
    padding: 10px;
    text-align: center;
    width: 100%;
}
.projectMask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    opacity: 0;
    transition: 1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
}
.projectMaskIn{
    width: 97%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
}
.projectItem:hover .projectMask{
    opacity: 1;
}

.moreButtom{
    width: 100px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid #BBDDCF;
    text-align: center;
}
.moreButtom:hover{
    border: 1px solid #F7D08F;
}
.moreButtom i{
    font-size: 14px;
    margin-left: 5px;
}
@media (max-width:997px){

    .productItmeShop{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ShopImg{
        width: 300px;
    }
    .ShopImgContent{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .pric,.projectWeight,.quantity,.quantityAction{
        margin-bottom: 20px;
    }
}
@media (max-width:769px){
    .productItemContent{
        padding: 20px;
    }
    .productShowGroup{
        flex-wrap: wrap;
    }
    .projectItem{
        width: 30%;
        margin: 0 5px;
    }
    .productTitle{
        margin-top: 10px;
        font-size: 24px ;
    }
}