
.banner{
    height: 41vw;
    position: relative;
    background-image: url(../img/banner_about.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 45%;
}
.pageTitleBlock{
    position:absolute;
    top: 12%;
    left: 20%;
}
.pageTitle{
    width:52px;
    border-right:1px solid white ;
}
.mainText{
    font-size: 48px;
    line-height: 55px;
    color: white;
    font-weight: bolder;
}
.subText{
    width: 220px;
    transform: rotate(90deg);
    position: absolute;
    font-size: 24px;
    top: 95px;
    left: -125px;
    color: white;
    font-weight: bolder;
}


.logoBlock{
    max-width: 10%;
    position: absolute;
    right: 20%;
    bottom: 10%;
    /* max-height: 400px; */
}
.logoBlock img{
    width: 100%;
    height: 100%;
}
@media (max-width:768px){
    .pageTitleBlock{
        top: 20%;
    }
    .logoBlock{
        display: none;
    }
}
@media (max-width:576px){
    .pageTitleBlock{
        top: 30%;
    }
    .pageTitle{
        width:25px;
        border-right:1px solid white ;
    }
    .mainText{
        font-size: 20px;
        line-height: 30px;
        color: white;
        font-weight: bolder;
    }
    .subText{
        width: 150px;
        transform: rotate(90deg);
        position: absolute;
        font-size: 12px;
        top: 75px;
        left: -85px;
        color: white;
        font-weight: bolder;
    }
}


.menuBarBlock{
    background-color: #1E1408;
    position: sticky;
    top: 0px;
    z-index: 5;

}
.menuBar{
    display: flex;
    padding: 20px 0;
}
.menuItem{
    width: 20%;
    text-align: center;
    color: white;
}
.menuBarRWDBlock{
    width: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    display: none;
    z-index: 3;
}
.menuBarRWD{
    padding: 10px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.iconBlock{
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    right: 10%;
    top: 25%;
}

.iconBlock i{
    font-size: 36px;
    margin: 0px 10px;
    color: white;
    cursor: pointer;
}
@media (max-width:1600px){
    .iconBlock{
        right: 3%;
        top: 32%;
    }
    .iconBlock i{
        font-size: 24px;
    }
}
@media (max-width:1050px){
    .iconBlock{
        top: 34%;
        right: 1%;
    }
    .iconBlock i{
        font-size: 20px;
    }
}


.iconRWDBlock{
    display: flex;
    align-items: center;
    width: 20%;

}
.iconRWDBlock i{
    font-size: 28px;
    color: white;
    margin: 0 5px;
}

.logoRWDBlock{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuRWD{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;

}
.menuRWDopen{
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.menuRWDClose{
    color: red;
    font-size: 28px;
    cursor: pointer;

}
.menuRWDItemBlock{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    position: fixed;
    top: 55px;
    opacity: 0;
    transition: 1s;
    overflow-y:scroll;
    z-index: 3000;
}
.show{
    opacity: 1;
}
.menuRWDItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px dashed black;
    color: white;
    font-weight: bolder;
    height: 180px;
}
.menuRWDItem:hover{
    color: #FFE776;
}
.menuRWDItem:nth-child(4){
    border-bottom:unset
}
.menuFoot{
    width: 100%;
    height: 250px;
    padding-top: 25px;
    background-color: black;
}
.menuFootItem{
    text-align: center;
    margin: 10px 0;
    font-size: 12px;
    color: white;
}
@media (max-width:997px){

}
@media (max-width:768px){
    .banner{
        height: 75vw;
    }
    .logoBlock{
        max-width: unset;
        width: 30%;
    }
    .iconBlock{
        display: none;
    }
    .menuBar{
        display: none;
    }
    .menuBarRWDBlock{
        display: block;
    }
    
    
    
    
    
}
@media (max-width:576px){
    
}
@media (max-width:376px){
    
}